@reference '../../theme/theme.module.css';

.radial-graph {
  @apply relative;
  @apply aspect-square w-full;
}

.radial-graph.sm {
  @apply h-36 w-max;
}

.radial-graph.md {
  @apply h-40 w-max;
}

.radial-graph.lg {
  @apply h-44 w-max;
}

.bars-container {
  @apply absolute inset-0 translate-x-1/2;
}

.bar {
  @apply absolute;
  @apply h-1/2 w-[2px];
  @apply origin-bottom;
}

.bar-inner {
  @apply absolute top-0 right-0 left-0;
  @apply h-3/4 overflow-hidden rounded-full;
  @apply transition-transform;
}

.bar-inner--active {
  @apply scale-y-100;
  @apply animate-grow-in will-change-transform;
}

.bar-inner--inactive {
  @apply scale-y-[0.75];
}

.bar-background {
  @apply absolute inset-0;
  @apply from-greyscale-800 bg-linear-to-b to-50%;
}

.bar-gradient {
  @apply absolute inset-0;
  @apply bg-linear-to-b to-50% transition-opacity;
}

.bar-gradient--primary {
  @apply from-brand-primary;
}

.bar-gradient--success {
  @apply from-brand-green;
}

.bar-gradient--danger {
  @apply from-brand-red;
}

.bar-gradient--warning {
  @apply from-brand-yellow;
}

.bar-gradient--active {
  @apply opacity-100;
  @apply animate-fade-in will-change-[opacity];
}

.bar-gradient--inactive {
  @apply opacity-0;
}

.label-container {
  @apply absolute inset-0;
  @apply flex flex-col items-center justify-center;
}

.label {
  @apply text-5xl font-medium;
}

.label.sm {
  @apply text-2xl;
}

.label.md {
  @apply text-3xl;
}

.label.lg {
  @apply text-4xl;
}

.sub-label {
  @apply text-sm;
}
