@import 'tailwindcss';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentcolor);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans transition-colors;
  }

  iframe {
    color-scheme: light;
  }
}

@layer utilities {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 270 45% 88%;
    --accent-foreground: 260 50% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 315 100% 55%; /* Neon Magenta */
    --chart-2: 175 100% 50%; /* Neon Aqua */
    --chart-3: 190 100% 50%; /* Electric Cyan */
    --chart-4: 285 100% 70%; /* Vivid Lavender */
    --chart-5: 260 100% 40%; /* Ultraviolet */
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* Control Status Badges */
    --not-started: 220, 13%, 75%;
    --not-started-secondary: 220, 13%, 75%, 0.2;

    --in-progress: 45, 100%, 68%;
    --in-progress-secondary: 45, 100%, 68%, 0.2;

    --ready-for-review: 213, 94%, 68%;
    --ready-for-review-secondary: 213, 94%, 68%, 0.2;

    --in-review: 262, 83%, 75%;
    --in-review-secondary: 262, 83%, 75%, 0.2;

    --compliant: 142, 72%, 64%;
    --compliant-secondary: 142, 72%, 64%, 0.2;

    --non-compliant: 340, 94%, 65%;
    --non-compliant-secondary: 340, 94%, 65%, 0.2;

    --not-applicable: 180, 20%, 55%;
    --not-applicable-secondary: 180, 20%, 55%, 0.2;

    --comment: 24, 95%, 70%;
    --comment-secondary: 24, 95%, 70%, 0.2;

    --completed: 24, 100%, 70%;
    --completed-secondary: 24, 100%, 30%;

    --monitor: 15, 90%, 62%;
    --monitor-secondary: 15, 90%, 62%, 0.2;

    --accepted: 142, 72%, 64%;
    --accepted-secondary: 142, 72%, 64%, 0.2;

    /* Comment Types */
    --accepted: 156, 72%, 74%;
    --accepted-secondary: 156, 72%, 74%, 0.2;

    --questioned: 36, 100%, 74%;
    --questioned-secondary: 36, 100%, 74%, 0.2;

    --general: 275, 90%, 76%;
    --general-secondary: 275, 90%, 76%, 0.2;

    /* Policy Type Badges */
    --regulatory: 217, 56%, 68%;
    --regulatory-secondary: 217, 56%, 68%, 0.2;

    --internal: 256, 73%, 78%;
    --internal-secondary: 256, 73%, 78%, 0.2;

    --risk: 51, 93%, 82%;
    --risk-secondary: 51, 93%, 82%, 0.2;

    --custom: 210, 14%, 83%;
    --custom-secondary: 210, 14%, 83%, 0.2;

    /* Primary */
    --highlight: 266 100% 90%;
    --mint: 142 69% 58%;
    --red: 342 96% 65%;
    --light-blue: 203 100% 70%;
    --yellow: 51 100% 73%;

    /* Gradients */
    --bg-header-gradient:
      182deg, rgba(226, 204, 255, 0.28) -5.47%, rgba(136, 122, 153, 0) 67.74%; /* linear gradient */
    --bg-guardian-button: 92deg, #b6a385 1.68%, #564e40 100.51%; /* linear gradient */
    --bg-primary-gradient:
      90deg, rgba(226, 204, 255, 0.2) 0%, rgba(136, 122, 153, 0.1) 100%; /* linear gradient */
    --bg-secondary-navigation: 90deg, #4d4656 0.01%, #a899bc 130.63%; /* linear gradient */
  }
  .dark {
    --white-10: rgba(255, 255, 255, 0.1);
    --white-20: rgba(255, 255, 255, 0.2);
    --white-30: rgba(255, 255, 255, 0.3);
    --white-40: rgba(255, 255, 255, 0.4);
    --white-50: rgba(255, 255, 255, 0.5);
    --white-60: rgba(255, 255, 255, 0.6);
    --white-70: rgba(255, 255, 255, 0.7);
    --white-80: rgba(255, 255, 255, 0.8);

    --background: 240, 10%, 4%;
    --foreground: 210 40% 98%;
    --card: 0 0% 85%;
    --card-foreground: 0 0% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 4% 25%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 0 0% 0%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --gradient-fills-lilac-active: linear-gradient(
      90deg,
      rgba(226, 204, 255, 0.2) 0%,
      rgba(136, 122, 153, 0.1) 100%
    );
    --white-10: rgba(255, 255, 255, 0.1);
  }
}

@theme {
  /* FONT FAMILY */
  --font-sans: 'TWK Lausanne', 'Inter', sans-serif;

  /* FONT SIZE */
  --text-xxs: 0.625rem;

  /* TRANSITION TIMITING FUNCTION */
  --ease-smooth: cubic-bezier(0.16, 1, 0.3, 1);

  /* BORDER RADIUS */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* COLORS */
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));
  --color-sidebar: hsl(var(--sidebar));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));
  --color-not-started: hsl(var(--not-started));
  --color-not-started-secondary: hsl(var(--not-started-secondary));
  --color-in-progress: hsl(var(--in-progress));
  --color-in-progress-secondary: hsl(var(--in-progress-secondary));
  --color-ready-for-review: hsl(var(--ready-for-review));
  --color-ready-for-review-secondary: hsl(var(--ready-for-review-secondary));
  --color-in-review: hsl(var(--in-review));
  --color-in-review-secondary: hsl(var(--in-review-secondary));
  --color-compliant: hsl(var(--compliant));
  --color-compliant-secondary: hsl(var(--compliant-secondary));
  --color-non-compliant: hsl(var(--non-compliant));
  --color-non-compliant-secondary: hsl(var(--non-compliant-secondary));
  --color-not-applicable: hsl(var(--not-applicable));
  --color-not-applicable-secondary: hsl(var(--not-applicable-secondary));
  --color-completed: hsl(var(--completed));
  --color-completed-secondary: hsl(var(--completed-secondary));
  --color-questioned: hsl(var(--questioned));
  --color-questioned-secondary: hsl(var(--questioned-secondary));
  --color-comment: hsl(var(--comment));
  --color-comment-secondary: hsl(var(--comment-secondary));
  --color-accepted: hsl(var(--accepted));
  --color-accepted-secondary: hsl(var(--accepted-secondary));
  --color-general: hsl(var(--general));
  --color-general-secondary: hsl(var(--general-secondary));
  --color-monitor: hsl(var(--monitor));
  --color-monitor-secondary: hsl(var(--monitor-secondary));
  --color-regulatory: hsl(var(--regulatory));
  --color-regulatory-secondary: hsl(var(--regulatory-secondary));
  --color-internal: hsl(var(--internal));
  --color-internal-secondary: hsl(var(--internal-secondary));
  --color-risk: hsl(var(--risk));
  --color-risk-secondary: hsl(var(--risk-secondary));
  --color-custom: hsl(var(--custom));
  --color-custom-secondary: hsl(var(--custom-secondary));
  --color-highlight: hsl(var(--highlight));
  --color-mint: hsl(var(--mint));
  --color-red: hsl(var(--red));
  --color-light-blue: hsl(var(--light-blue));
  --color-yellow: hsl(var(--yellow));
  --color-purple: #a88bfa;
  --color-lilac: #e2ccff;
  --color-lilac-medium: #7f738f;
  --color-lilac-dark: #887a99;
  --color-medium-lilac: #b5a3cc;
  --color-dark-lilac: #9153c9;
  --color-lilac-box-bkg: #222025;
  --color-lilac-button: #4d4656;
  --color-lime: #d5e672;
  --color-sky-blue: #6697e4;
  --color-gold: #ffe4b8;
  --color-black: #0d0d0d;
  --color-black-5: #191919;
  --color-black-10: #3e3e3e;
  --color-grey: #454545;
  --color-compliance-compliant: hsl(var(--compliant));
  --color-compliance-compliant-secondary: hsla(var(--compliant-secondary));
  --color-compliance-partially-compliant: #f59e0b;
  --color-compliance-partially-compliant-secondary: rgba(251, 178, 60, 0.2);
  --color-compliance-non-compliant: hsl(var(--non-compliant));
  --color-compliance-non-compliant-secondary: hsla(var(--non-compliant-secondary));
  --color-compliance-non-applicable: hsl(var(--not-applicable));
  --color-compliance-non-applicable-secondary: hsla(var(--not-applicable-secondary));
  --color-node-agent: #1069ff;
  --color-node-dataset: #753dfd;
  --color-node-model: #2135b0;
  --color-node-code: #ffa309;
  --color-node-document: #ff5c0e;
  --color-node-prompt: #128441;
  --color-node-token: #c02d5d;
  --color-node-inference: #f73887;
  --color-node-tools: #82a3b2;
  --color-node-benchmarks: #8f3f18;
  --color-node-guards: #8f3f18;
  --color-node-computation: #fede31;

  /* BOX SHADOW */
  --shadow-compliance-compliant: 0px 4px 16px 0px rgba(74, 222, 128, 0.4);
  --shadow-compliance-partially-compliant: 0px 4px 16px 0px rgba(251, 178, 60, 0.4);
  --shadow-compliance-non-compliant: 0px 4px 16px 0px rgba(251, 79, 130, 0.4);

  /* ANIMATION */
  --animate-grow-in: grow-in 800ms ease-in-out backwards;
  --animate-fade-in: fade-in 800ms ease-in-out backwards;
  --animate-shimmer: shimmer 2.5s infinite linear;
  --animate-pulse-glow-outer: pulse-glow-outer 2s ease-out infinite;
  --animate-pulse-glow-inner: pulse-glow-inner 2s ease-out infinite;

  @keyframes grow-in {
    from {
      transform: scaleY(0.75);
    }
    to {
      transform: scaleY(1);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  @keyframes pulse-glow-outer {
    0% {
      opacity: 1;
      transform: scale(1);
      background-color: currentColor;
      box-shadow: 0 0 0 0 currentColor;
    }
    100% {
      opacity: 0;
      transform: scale(1.05);
      box-shadow: 0 0 10px 10px currentColor;
    }
  }

  @keyframes pulse-glow-inner {
    0%,
    100% {
      opacity: 1;
      transform: scale(1);
      background-color: currentColor;
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}

@layer components {
  .ui-horizontal-rule {
    border-top: 1px solid;
    border-color: hsl(var(--border));
    margin-top: theme('spacing.6');
    margin-bottom: theme('spacing.6');
  }

  .ui-horizontal-rule-below {
    &:after {
      content: '';
      display: block;
      border-bottom: 1px solid;
      border-color: hsl(var(--border));
      margin-top: theme('spacing.4');
    }
  }

  .ui-type-margin-sm {
    margin-top: theme('spacing.1');
    margin-bottom: theme('spacing.1');
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .ui-type-margin {
    margin-top: theme('spacing.2');
    margin-bottom: theme('spacing.2');
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .ui-type-margin-description {
    margin-top: theme('spacing.1');
    &:last-child {
      margin-bottom: 0;
    }
  }

  .bg-gradient-highlight {
    --tw-gradient-from: hsl(var(--highlight) / 0);
    --tw-gradient-to: hsl(var(--highlight) / 0.1);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }

  .bg-gradient-lilac {
    background: linear-gradient(90deg, rgba(226, 204, 255, 0.2) 0%, rgba(136, 122, 153, 0.1) 100%);
  }

  .styled-horizontal-scrollbar {
    &::-webkit-scrollbar {
      width: 100%;
      height: 0.375rem;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 999px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #7f738f;
      border-radius: 999px;
    }
  }

  .styled-vertical-scrollbar {
    &::-webkit-scrollbar {
      height: 100%;
      width: 0.375rem;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 999px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #7f738f;
      border-radius: 999px;
    }
  }

  .styled-vertical-scrollbar-guardian {
    &::-webkit-scrollbar {
      height: 100%;
      width: 0.375rem;
      background-color: rgba(255, 228, 184, 0.1);
      border-radius: 999px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 228, 184, 0.3);
      border-radius: 999px;
    }
  }

  /* Reporting styles */
  .r-bg-align {
    padding-left: var(--bg-align-offset);
  }

  .r-bg-line {
    --w: 1px;
    --bg-line-offset: 0px;
    --x: calc(var(--bg-line-x) - var(--bg-line-offset));
    background: linear-gradient(
      90deg,
      #0000 var(--x),
      var(--tailwind-colors-gray-200) var(--x),
      var(--tailwind-colors-gray-200) calc(var(--x) + var(--w)),
      #0000 0
    );
    background-size: 100% 100%;
  }

  .rui-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    @media (min-width: theme(--breakpoint-lg)) {
      grid-template-columns: repeat(24, minmax(0, 1fr));
    }
    @media print {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .rt-h1 {
    font-size: 30px;
    font-family: 'TWK Lausanne';
    font-weight: 500;
    line-height: 1;

    @media (min-width: theme(--breakpoint-md)) {
      font-size: calc(28px * var(--scaleFactor));
    }
    @media print {
      font-size: 20px;
    }
  }

  .rt-h2 {
    font-size: 24px;
    font-family: 'TWK Lausanne';
    font-weight: 500;
    line-height: 1.08;

    @media (min-width: theme(--breakpoint-md)) {
      font-size: calc(24px * var(--scaleFactor));
    }
    @media print {
      font-size: 18px;
    }
  }

  .rt-h3 {
    font-size: 18px;
    font-family: 'TWK Lausanne';
    font-weight: 500;
    line-height: 1.2;

    @media (min-width: theme(--breakpoint-md)) {
      font-size: calc(18px * var(--scaleFactor));
    }
    @media print {
      font-size: 13px;
    }
  }

  .rt-body {
    font-size: 14px;
    font-family: 'TWK Lausanne';
    font-weight: 400;
    line-height: 1.28;

    @media (min-width: theme(--breakpoint-md)) {
      font-size: calc(14px * var(--scaleFactor));
      line-height: 1.25;
    }
    @media print {
      font-size: 10px;
    }
  }

  .rt-annotation {
    font-size: 12px;
    font-family: 'TWK Lausanne';
    font-weight: 400;
    line-height: 1.16;

    @media (min-width: theme(--breakpoint-md)) {
      font-size: calc(14px * var(--scaleFactor));
      line-height: 1.14;
    }
    @media print {
      font-size: 10px;
    }
  }
}

@font-face {
  font-family: 'TWK Lausanne';
  src:
    url('/src/assets/fonts/TWKLausanne-300.woff') format('woff'),
    url('/src/assets/fonts/TWKLausanne-300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'TWK Lausanne';
  src:
    url('/src/assets/fonts/TWKLausanne-400.woff') format('woff'),
    url('/src/assets/fonts/TWKLausanne-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'TWK Lausanne';
  src:
    url('/src/assets/fonts/TWKLausanne-500.woff') format('woff'),
    url('/src/assets/fonts/TWKLausanne-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'TWK Lausanne';
  src:
    url('/src/assets/fonts/TWKLausanne-600.woff') format('woff'),
    url('/src/assets/fonts/TWKLausanne-600.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'TWK Lausanne';
  src:
    local('SF Mono'), local('Monaco'), local('Consolas'), local('Courier New'), local('monospace');
  unicode-range: U+0060;
}
