@reference '../../theme/theme.module.css';

.icon-btn {
  @apply transition-colors;
  @apply flex-center;
  @apply disabled:cursor-not-allowed disabled:opacity-50 hover:disabled:bg-transparent;
  @apply focus-ring;
  @apply flex;
}

.size--sm {
  @apply size-7 rounded-md;
}

.size--md {
  @apply size-10 rounded-[8.5px];
}

.size--lg {
  @apply size-11 rounded-[9.5px];
}

/* Color Variants */

.icon-btn--primary {
  @apply text-text-primary;
  @apply not-disabled:hover:bg-lilac-400/25 not-disabled:hover:text-lilac-800 not-disabled:dark:hover:bg-lilac-500/25 not-disabled:dark:hover:text-lilac-200;
}

.icon-btn--danger {
  @apply text-red-600;
  @apply dark:text-red-400;
  @apply not-disabled:hover:bg-red-400/25 not-disabled:dark:hover:bg-red-500/25 not-disabled:dark:hover:text-red-300;
}
