@reference '../../theme/theme.module.css';

.icon-btn {
  @apply rounded-md transition-colors;
  @apply flex-center;
  @apply disabled:cursor-not-allowed disabled:opacity-50 hover:disabled:bg-transparent;
  @apply focus-ring;
}

.size--sm {
  @apply size-8;
}

.size--md {
  @apply size-10;
}

.size--lg {
  @apply size-12;
}

/* Color Variants */

.icon-btn--primary {
  @apply text-text-primary;
  @apply enabled:hover:bg-lilac-400/25 enabled:hover:text-lilac-800 enabled:dark:hover:bg-lilac-500/25;
}

.icon-btn--danger {
  @apply text-red-600;
  @apply dark:text-red-400;
  @apply enabled:hover:bg-red-400/25 enabled:dark:hover:bg-red-500/25 enabled:dark:hover:text-red-300;
}

/* Background Variants */

.background--square {
  @apply rounded-lg;
}

.background--circle {
  @apply rounded-full;
}
