@reference '../../theme/theme.module.css';

.icon-btn {
  @apply rounded-md transition-colors;
  @apply flex-center;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
  @apply focus-ring;
}

.size--sm {
  @apply size-8;
}

.size--md {
  @apply size-10;
}

.size--lg {
  @apply size-12;
}

/* Background Variants */

.background--square {
  @apply rounded-lg;
}

.background--circle {
  @apply rounded-full;
}
