@reference '../../theme/theme.module.css';

.avatar {
  @apply relative flex;
  @apply overflow-hidden;
}

.avatar-image {
  @apply size-full;
  @apply aspect-square;
}

.avatar-fallback {
  @apply border-border border;
  @apply to-mixed-dark bg-gradient-to-br;
  @apply size-full;
  @apply text-text-secondary font-semibold;
  @apply flex-center;
}

/* Size Variants */

.avatar.sm {
  @apply size-8;
}

.avatar.md {
  @apply size-10;
}

.avatar.lg {
  @apply size-12;
}

.avatar.xl {
  @apply size-14;
}

.avatar.sm .avatar-fallback {
  @apply text-xs;
}

.avatar.lg .avatar-fallback {
  @apply text-lg;
}

.avatar.xl .avatar-fallback {
  @apply text-xl;
}

/* Shape Variants */

.avatar.circle,
.avatar.circle .avatar-fallback {
  @apply rounded-full;
}

.avatar.square,
.avatar.square .avatar-fallback {
  @apply rounded-lg;
}

/* ELEVATION */

.avatar-fallback--sunken {
  --mix-color: var(--color-background-sunken);
  @apply from-background-sunken;
}

.avatar-fallback--base {
  --mix-color: var(--color-background-base);
  @apply from-background-base;
}

.avatar-fallback--raised {
  --mix-color: var(--color-background-raised);
  @apply from-background-raised;
}

.avatar-fallback--overlay {
  --mix-color: var(--color-background-overlay);
  @apply from-background-overlay;
}

.avatar-fallback--floating {
  --mix-color: var(--color-background-floating);
  @apply from-background-floating;
}
