@reference '../../theme/theme.module.css';

.avatar {
  @apply relative flex;
  @apply overflow-hidden rounded-full;
}

.avatar.sm {
  @apply size-8;
}

.avatar.md {
  @apply size-10;
}

.avatar.lg {
  @apply size-12;
}

.avatar-image {
  @apply size-full;
  @apply aspect-square;
}

.avatar-fallback {
  @apply border-border border;
  @apply from-greyscale-800 to-greyscale-900 bg-gradient-to-br;
  @apply size-full rounded-full;
  @apply text-text-secondary font-semibold;
  @apply flex-center;
}

.avatar.sm .avatar-fallback {
  @apply text-xs;
}

.avatar.lg .avatar-fallback {
  @apply text-lg;
}
