@reference '../../theme/theme.module.css';

.avatar {
  @apply relative flex;
  @apply overflow-hidden;
}

.avatar-image {
  @apply size-full;
  @apply aspect-square;
}

.avatar-fallback {
  --mix-color: var(--color-background-secondary);
  @apply border-border border;
  @apply from-background-secondary to-mixed-dark bg-gradient-to-br;
  @apply size-full;
  @apply text-text-secondary font-semibold;
  @apply flex-center;
}

/* Size Variants */

.avatar.sm {
  @apply size-8;
}

.avatar.md {
  @apply size-10;
}

.avatar.lg {
  @apply size-12;
}

.avatar.xl {
  @apply size-14;
}

.avatar.sm .avatar-fallback {
  @apply text-xs;
}

.avatar.lg .avatar-fallback {
  @apply text-lg;
}

.avatar.xl .avatar-fallback {
  @apply text-xl;
}

/* Shape Variants */

.avatar.circle,
.avatar.circle .avatar-fallback {
  @apply rounded-full;
}

.avatar.square,
.avatar.square .avatar-fallback {
  @apply rounded-lg;
}
