@reference '../../theme/theme.module.css';

.avatar {
  @apply flex shrink-0;
  @apply relative size-10;
  @apply overflow-hidden rounded-full;
}

.avatar-image {
  @apply size-full;
  @apply aspect-square;
}

.avatar-fallback {
  @apply border-border border;
  @apply from-greyscale-800 to-greyscale-900 bg-gradient-to-br;
  @apply size-full rounded-full;
  @apply text-text-secondary font-semibold;
  @apply flex items-center justify-center;
}
