@reference '../../theme/theme.module.css';

.filters-badge {
  @apply flex items-center gap-1;
}

.tooltip {
  @apply max-w-xs break-words;
}

.remove-btn {
  @apply text-badge-background-primary bg-badge-text-primary;
  @apply size-3.5 p-0 [&_svg]:size-3;
  @apply hover:text-button-tertiary-text;
}
