@reference '../../theme/theme.module.css';

.popover-header {
  @apply relative w-auto;
}

.popover-trigger {
  @apply justify-start;
  @apply w-full rounded-md px-10;
  @apply text-base font-normal md:text-sm;
}

.popover-trigger--active {
  @apply text-text-primary;
}

.calendar-icon {
  @apply text-text-secondary;
  @apply absolute left-3 top-1/2 size-4 -translate-y-1/2;
}

.date-range {
  @apply flex-1;
}

.clear-btn {
  @apply absolute right-2 top-1/2 size-6 -translate-y-1/2;
}

.popover-content {
  @apply w-max min-w-max space-y-4;
}

.month-navigation {
  @apply flex items-center justify-between;
}

.month-navigation-btn {
  @apply text-text-secondary hover:text-text-primary size-8 p-0;
}

.month-date-display {
  @apply flex-1 text-center;
}

.month-date-display-title {
  @apply text-text-primary text-sm font-semibold;
}

.month-date-display-subtitle {
  @apply text-text-secondary text-xs;
  @apply mt-1;
}

.day-headers {
  @apply mb-2;
  @apply grid grid-cols-7 gap-1;
}

.day-headers-inner {
  @apply h-4;
  @apply text-text-secondary text-xs font-medium;
  @apply flex items-center justify-center;
}

.calendar-grid {
  @apply grid grid-cols-7 gap-1;
}

.calendar-day-btn {
  @apply text-sm font-normal transition-colors;
  @apply block size-9 rounded-md p-0;
}

.calendar-day-btn--selected {
  @apply bg-brand-primary;
  @apply text-text-primary;
}

.calendar-day-btn--today {
  @apply font-semibold;
  @apply border-brand-primary border;
}

.calendar-day-btn--in-range {
  @apply bg-brand-primary/30;
}
