@reference '../../theme/theme.module.css';

.popover-content {
  @apply bg-popover-background text-text-primary outline-hidden;
  @apply border-border border;
  @apply z-modal w-72 rounded-md p-4;
  @apply origin-(--radix-popover-content-transform-origin);
  @apply animate-popup-content;
}

.popover-arrow {
  @apply h-2 w-4;
  @apply fill-text-secondary;
}
