@reference '../../theme/theme.module.css';

.popover-content {
  @apply bg-background-overlay text-text-primary outline-hidden;
  @apply border-border-overlay border;
  @apply shadow-shadow-overlay shadow-sm;
  @apply z-modal w-72 rounded-md p-4;
  @apply origin-(--radix-popover-content-transform-origin);
  @apply animate-popup-content;
}

.popover-arrow {
  @apply h-2 w-4;
  @apply fill-text-secondary;
}
