@reference '../../theme/theme.module.css';

.popover-content {
  @apply bg-popover-background text-text-primary outline-hidden shadow-md;
  @apply border-border border;
  @apply z-50 w-72 rounded-md p-4;
  @apply origin-(--radix-popover-content-transform-origin);
  @apply data-[state=open]:animate-in data-[state=open]:fade-in-0 data-[state=open]:zoom-in-95;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95;
  @apply data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2;
}

.popover-arrow {
  @apply h-2 w-4;
  @apply fill-text-secondary;
}
