@reference '../../theme/theme.module.css';

.card {
  @apply @container/card relative;
  @apply text-text-primary;
  @apply border;
  @apply overflow-hidden rounded-lg;
  @apply shadow-sm;
}

.card--hover {
  @apply hover:border-brand-primary active:border-brand-primary;
  @apply cursor-pointer transition-colors;
}

.card-hover-gradient {
  @apply pointer-events-none absolute inset-0 opacity-0;
  @apply transition-opacity duration-700;
  @apply from-brand-primary/0 to-brand-primary/10 bg-linear-to-br;
}

.card:hover .card-hover-gradient,
.card:active .card-hover-gradient {
  @apply opacity-100;
}

.card-header {
  @apply flex flex-col space-y-1.5 px-3 py-4;
}

.card-title {
  @apply text-2xl font-medium;
}

.card-description {
  @apply text-text-secondary text-sm;
}

.card-content {
  @apply p-3;
}

.card-footer {
  @apply flex items-center p-3 pt-0;
}

/* ELEVATION */

.card--sunken {
  @apply bg-background-sunken shadow-shadow-sunken border-border-sunken;
}

.card--base {
  @apply bg-background-base shadow-shadow-base border-border-base;
}

.card--raised {
  @apply bg-background-raised shadow-shadow-raised border-border-raised;
}

.card--overlay {
  @apply bg-background-overlay shadow-shadow-overlay border-border-overlay;
}

.card--floating {
  @apply bg-background-floating shadow-shadow-floating border-border-floating;
}
