@reference '../../theme/theme.module.css';

.table {
  @apply relative;
  @apply w-full overflow-auto;
}

.table-inner {
  @apply w-full;
  @apply caption-bottom text-sm;
}

.table-header {
  @apply [&_tr]:border-b;
}

.table-body {
  @apply [&_tr:last-child]:border-0;
}

.table-footer {
  @apply border-t last:[&>tr]:border-b-0;
  @apply font-medium;
}

.table-row {
  @apply border-b transition-colors;
}

.table-head {
  @apply h-12;
  @apply px-4 align-middle;
  @apply text-text-primary text-left font-medium transition-colors;
  @apply [&:has([role=checkbox])]:pr-0;
}

.table-cell {
  @apply px-4 py-3;
  @apply align-middle;
  @apply [&:has([role=checkbox])]:pr-0;
}

.table-caption {
  @apply text-text-secondary mt-4 text-sm;
}

/* ELEVATION */

.table--sunken .table-header,
.table--sunken .table-footer {
  @apply bg-background;
}
.table--sunken .table-body {
  @apply bg-background-sunken;
}

.table--base .table-header,
.table--base .table-footer {
  @apply bg-background-raised;
}
.table--base .table-body {
  @apply bg-background;
}

.table--raised .table-header,
.table--raised .table-footer {
  @apply bg-background-overlay;
}
.table--raised .table-body {
  @apply bg-background-raised;
}

.table--overlay .table-header,
.table--overlay .table-footer {
  @apply bg-background-floating;
}
.table--overlay .table-body {
  @apply bg-background-overlay;
}

.table--floating .table-header,
.table--floating .table-footer {
  @apply bg-background-top;
}
.table--floating .table-body {
  @apply bg-background-floating;
}
