@reference '../../theme/theme.css';

.table-row-clickable {
  --mix-color: var(--color-brand-primary);
  --hover-darken: 50%;
  @apply cursor-pointer;
  @apply hover:bg-mixed-dark;
  @apply data-[state=selected]:bg-mixed-dark;
}

.table-border {
  @apply border-border border;
  @apply overflow-hidden rounded-md;
}

.table-background {
  @apply bg-card-background;
}
