@reference '../../theme/theme.module.css';

.badge--agent {
  @apply bg-resource-background-agent;
  @apply text-resource-text-agent;
}

.badge--benchmark {
  @apply bg-resource-background-benchmark;
  @apply text-resource-text-benchmark;
}

.badge--code {
  @apply bg-resource-background-code;
  @apply text-resource-text-code;
}

.badge--compute {
  @apply bg-resource-background-compute;
  @apply text-resource-text-compute;
}

.badge--database {
  @apply bg-resource-background-database;
  @apply text-resource-text-database;
}

.badge--dataset {
  @apply bg-resource-background-dataset;
  @apply text-resource-text-dataset;
}

.badge--document {
  @apply bg-resource-background-document;
  @apply text-resource-text-document;
}

.badge--guard {
  @apply bg-resource-background-guard;
  @apply text-resource-text-guard;
}

.badge--guardrail {
  @apply bg-resource-background-guardrail;
  @apply text-resource-text-guardrail;
}

.badge--inference {
  @apply bg-resource-background-inference;
  @apply text-resource-text-inference;
}

.badge--model {
  @apply bg-resource-background-model;
  @apply text-resource-text-model;
}

.badge--prompt {
  @apply bg-resource-background-prompt;
  @apply text-resource-text-prompt;
}

.badge--system-prompt {
  @apply bg-resource-background-system-prompt;
  @apply text-resource-text-system-prompt;
}

.badge--context {
  @apply bg-resource-background-context;
  @apply text-resource-text-context;
}

.badge--reasoning {
  @apply bg-resource-background-reasoning;
  @apply text-resource-text-reasoning;
}

.badge--token {
  @apply bg-resource-background-token;
  @apply text-resource-text-token;
}

.badge--tools {
  @apply bg-resource-background-tools;
  @apply text-resource-text-tools;
}

.badge--system-parameters {
  @apply bg-resource-background-system-parameters;
  @apply text-resource-text-system-parameters;
}

.badge--unknown {
  @apply bg-resource-background-unknown;
  @apply text-resource-text-unknown;
}
