@reference '../../theme/theme.module.css';

.search-bar {
  @apply relative;
}

.search-icon {
  @apply absolute top-1/2 left-3 -translate-y-1/2;
  @apply text-text-secondary;
  @apply size-4;
}

.input {
  @apply px-10;
}

.clear-button {
  @apply absolute top-1/2 right-2 -translate-y-1/2;
  @apply size-6;
}
