@reference '../../theme/theme.css';

.select-trigger {
  @apply text-sm;
  @apply px-3 py-2;
  @apply h-10 w-full rounded-md;
  @apply border-button-tertiary-border bg-button-tertiary-fill border;
  @apply flex-center-between gap-2;
  @apply focus-ring;
  @apply data-placeholder:text-text-secondary;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
  @apply [&>span]:line-clamp-1;
}

.select-icon {
  @apply size-4;
}

.select-icon--low-opacity {
  @apply opacity-50;
}

.select-scroll-button {
  @apply cursor-default py-1;
  @apply flex-center;
}

.select-content {
  @apply dropdown-content;
  @apply max-h-(--radix-select-content-available-height);
  @apply origin-(--radix-select-content-transform-origin);
}

.select-content--popper {
  @apply data-[side=bottom]:translate-y-1 data-[side=left]:-translate-x-1 data-[side=right]:translate-x-1 data-[side=top]:-translate-y-1;
}

.select-viewport--popper {
  @apply h-(--radix-select-trigger-height) min-w-(--radix-select-trigger-width) w-full;
}

.select-label {
  @apply text-sm font-semibold;
  @apply px-2 py-1.5;
}

.select-item {
  @apply dropdown-item;
  @apply py-1.5 pl-2 pr-2;
  @apply relative gap-2;
}

.select-item-indicator {
  @aaply absolute left-2;
  @apply flex-center;
  @apply size-3.5;
}

.select-separator {
  @apply bg-border;
  @apply -mx-1 my-1 h-px;
}
