@import '../../theme/theme.module.css';

.list-or-grid-view-toggle {
  @apply border-lilac/10 border;
  @apply flex rounded-md;
  @apply w-max overflow-hidden;
}

.icon-button {
  @apply rounded-none border-0;
}

.icon-button--active {
  @apply bg-lilac/10 text-lilac;
}

.icon-button--inactive {
  @apply bg-background/50 text-muted-foreground hover:text-foreground;
}
