@reference '../../theme/theme.css';

.list-or-grid-view-toggle {
  @apply border-border border;
  @apply flex rounded-md;
  @apply w-max overflow-hidden;
}

.icon-button {
  @apply rounded-none border-0;
}

.icon-button--active {
  @apply bg-brand-primary text-white;
}

.icon-button--inactive {
  @apply bg-button-tertiary-fill text-text-secondary hover:text-text-primary;
}
