@reference '../../theme/theme.module.css';

.button {
  @apply rounded-md;
  @apply whitespace-nowrap text-sm font-medium;
  @apply transition-all duration-300;
  @apply flex-center gap-1;
  @apply cursor-pointer;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
  @apply [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;
  @apply focus-ring;
}

.button--primary {
  --mix-color: var(--color-button-primary-fill);
  @apply bg-(--mix-color);
  @apply border-button-primary-border border;
  @apply text-text-primary;
  @apply hover:not-disabled:bg-mixed-dark;
}

.button--destructive {
  --mix-color: var(--color-button-danger-fill);
  @apply bg-(--mix-color);
  @apply border-button-danger-border border;
  @apply text-button-danger-text;
  @apply hover:not-disabled:bg-mixed-dark;
}

.button--secondary {
  --mix-color: var(--color-button-secondary-fill);
  @apply bg-(--mix-color);
  @apply border-button-secondary-border border;
  @apply text-button-secondary-text;
  @apply hover:not-disabled:bg-mixed-dark;
}

.button--tertiary {
  --mix-color: var(--color-button-tertiary-fill);
  @apply bg-(--mix-color);
  @apply border-button-tertiary-border border;
  @apply text-button-tertiary-text;
  @apply hover:not-disabled:bg-mixed-light;
}

.button--link {
  @apply text-brand-primary;
  @apply hover:not-disabled:underline underline-offset-4;
}

.size--sm {
  @apply text-xs;
}

.size--sm:not(.button--link) {
  @apply h-7 rounded-md px-2;
}

.size--md:not(.button--link) {
  @apply h-10 rounded-md px-3 py-2;
}

.size--lg:not(.button--link) {
  @apply h-11 rounded-md px-8;
}
