@reference '../../theme/theme.module.css';

.button {
  @apply ring-offset-background rounded-md;
  @apply text-sm font-medium whitespace-nowrap;
  @apply transition-all duration-300;
  @apply inline-flex items-center justify-center gap-1;
  @apply focus-visible:ring-focus-ring focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-hidden;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
  @apply [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;
}

.button--primary {
  --mix-color: var(--color-button-primary-fill);
  @apply bg-(--mix-color);
  @apply border-button-primary-border border;
  @apply text-text-primary;
  @apply hover:not-disabled:bg-mixed-dark;
}

.button--destructive {
  --mix-color: var(--color-button-danger-fill);
  @apply bg-(--mix-color);
  @apply border-button-danger-border border;
  @apply text-button-danger-text;
  @apply hover:not-disabled:bg-mixed-dark;
}

.button--secondary {
  --mix-color: var(--color-button-secondary-fill);
  @apply bg-(--mix-color);
  @apply border-button-secondary-border border;
  @apply text-button-secondary-text;
  @apply hover:not-disabled:bg-mixed-dark;
}

.button--tertiary {
  --mix-color: var(--color-button-tertiary-fill);
  @apply bg-(--mix-color);
  @apply border-button-tertiary-border border;
  @apply text-button-tertiary-text;
  @apply hover:not-disabled:bg-mixed-light;
}

.button--link {
  @apply text-brand-primary;
  @apply underline-offset-4 hover:not-disabled:underline;
}

.size--sm {
  @apply h-7 rounded-md px-2;
  @apply text-xs;
}

.size--md {
  @apply h-10 rounded-md px-3 py-2;
}

.size--lg {
  @apply h-11 rounded-md px-8;
}
