@import '../../theme/theme.module.css';

.container {
  @apply ring-offset-background focus-visible:ring-ring focus-visible:outline-hidden inline-flex items-center justify-center gap-1 whitespace-nowrap rounded-md text-sm font-medium transition-all duration-300 focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;
}

.primary {
  @apply border-highlight/0 bg-highlight/50 text-foreground hover:not-disabled:border-highlight hover:not-disabled:bg-highlight/60 border;
}

.destructive {
  @apply border-red/0 bg-red/50 text-foreground hover:not-disabled:border-red hover:not-disabled:bg-red/60 border;
}

.secondary {
  @apply border-foreground bg-foreground text-background hover:not-disabled:border-primary hover:not-disabled:bg-primary/80 border;
}

.tertiary {
  @apply border-border text-foreground hover:not-disabled:text-accent-foreground hover:not-disabled:bg-white/10 border bg-black/60;
}

.outline {
  @apply border-border text-foreground hover:text-accent-foreground bg-black/60 hover:border hover:bg-white/10;
}

.link {
  @apply text-lilac hover:not-disabled:underline underline-offset-4;
}

.sm {
  @apply h-7 rounded-md px-2 text-xs;
}

.md {
  @apply h-10 rounded-md px-3 py-2;
}

.lg {
  @apply h-11 rounded-md px-8;
}
