@reference '../../theme/theme.module.css';

.display-field {
  @apply border-border bg-popover-background rounded-md border;
  @apply text-text-primary text-base text-clip md:text-sm;
  @apply flex h-9.5 w-full overflow-clip;
  @apply focus-ring;
}

.display-field--neutral {
  @apply bg-brand-primary;
}

.display-field--success {
  @apply bg-brand-green;
}

.display-field--failure {
  @apply bg-brand-red;
}

.prefix {
  @apply flex items-center gap-1;
  @apply px-2;
  @apply text-sm font-medium text-black transition-colors;
  @apply rounded-tr-md rounded-br-md;
}

.content {
  @apply block w-full overflow-y-clip;
  @apply font-mono;
  @apply px-3 py-2;
}

.actions {
  @apply flex items-center;
}

.icon-width {
  @apply w-4;
}

.truncate {
  @apply truncate;
}

.overflow-x-scroll {
  @apply overflow-x-scroll;
}
