@reference '../../theme/theme.module.css';

.display-field {
  @apply text-text-primary text-clip text-sm;
  @apply rounded-md shadow-sm;
}

.display-field-inner {
  @apply rounded-md border;
  @apply h-9.5 flex w-full overflow-clip;
  @apply focus-ring;
  @apply z-above relative;
}

.display-field--neutral {
  @apply bg-badge-background-primary;
  @apply text-badge-text-primary;
}

.display-field--success {
  @apply bg-badge-background-success;
  @apply text-badge-text-success;
}

.display-field--failure {
  @apply bg-badge-background-danger;
  @apply text-badge-text-danger;
}

.prefix {
  @apply flex items-center gap-1;
  @apply px-2;
  @apply text-sm font-medium transition-colors;
  @apply rounded-br-md rounded-tr-md;
}

.content {
  @apply block w-full overflow-y-clip;
  @apply font-mono;
  @apply px-3 py-2;
}

.actions {
  @apply flex items-center;
}

.icon-width {
  @apply w-4;
}

.truncate {
  @apply truncate;
}

.overflow-x-scroll {
  @apply overflow-x-auto;
}

.overflow-hidden {
  @apply overflow-hidden;
}

.slot {
  @apply -mt-(--radius-md) pt-(--radius-md) relative;
  @apply rounded-b-md;
}

.slot-inner {
  @apply p-2;
}

/* ELEVATION */

.display-field--sunken {
  @apply shadow-shadow-sunken;
}
.display-field--sunken .display-field-inner {
  @apply bg-background-sunken border-border-sunken;
}
.display-field--sunken .slot {
  @apply bg-background-bottom border-border-bottom;
}

.display-field--base {
  @apply shadow-shadow-base;
}
.display-field--base .display-field-inner {
  @apply bg-background-base border-border-base;
}
.display-field--base .slot {
  @apply bg-background-sunken border-border-sunken;
}

.display-field--raised {
  @apply shadow-shadow-raised;
}
.display-field--raised .display-field-inner {
  @apply bg-background-raised border-border-raised;
}
.display-field--raised .slot {
  @apply bg-background-base border-border-base;
}

.display-field--overlay {
  @apply shadow-shadow-overlay;
}
.display-field--overlay .display-field-inner {
  @apply bg-background-overlay border-border-overlay;
}
.display-field--overlay .slot {
  @apply bg-background-raised border-border-raised;
}

.display-field--floating {
  @apply bg-background-floating shadow-shadow-floating border-border-floating;
}
.display-field--floating .display-field-inner {
  @apply bg-background-floating border-border-floating;
}
.display-field--floating .slot {
  @apply bg-background-overlay border-border-overlay;
}
