@reference '../../theme/theme.module.css';

.display-field {
  @apply text-text-primary text-sm text-clip;
}

.display-field-inner {
  @apply border-border bg-popover-background rounded-md border;
  @apply flex h-9.5 w-full overflow-clip;
  @apply focus-ring;
  @apply z-above relative;
}

.display-field--neutral {
  @apply bg-badge-background-primary;
  @apply text-badge-text-primary;
}

.display-field--success {
  @apply bg-badge-background-success;
  @apply text-badge-text-success;
}

.display-field--failure {
  @apply bg-badge-background-danger;
  @apply text-badge-text-danger;
}

.prefix {
  @apply flex items-center gap-1;
  @apply px-2;
  @apply text-sm font-medium transition-colors;
  @apply rounded-tr-md rounded-br-md;
}

.content {
  @apply block w-full overflow-y-clip;
  @apply font-mono;
  @apply px-3 py-2;
}

.actions {
  @apply flex items-center;
}

.icon-width {
  @apply w-4;
}

.truncate {
  @apply truncate;
}

.overflow-x-scroll {
  @apply overflow-x-auto;
}

.overflow-hidden {
  @apply overflow-hidden;
}

.slot {
  @apply relative -mt-(--radius-md) pt-(--radius-md);
  @apply bg-card-background rounded-b-md;
}

.slot-inner {
  @apply p-2;
}
