@reference '../../theme/theme.module.css';

.sort-selector-trigger {
  @apply min-w-32 rounded-md;
  @apply flex items-center justify-between;
  @apply transition-all duration-200;
  @apply hover:shadow-sm;
}

.chevron-down-icon {
  @apply text-text-secondary;
}

.dropdown-menu-content {
  @apply border-border border shadow-lg;
  @apply w-48;
}

.dropdown-menu-content-header {
  @apply border-border border-b;
  @apply flex items-center justify-between;
  @apply px-3 pb-2 pt-2;
}

.header-title {
  @apply text-text-primary text-sm font-semibold;
}

.reset-btn {
  @apply h-auto;
  @apply p-0;
}

.dropdown-menu-item {
  @apply relative cursor-pointer;
  @apply px-3 py-1.5 pl-9;
  @apply text-sm transition-colors;
  @apply focus:bg-lilac-button;
  @apply hover:bg-lilac-button;
  @apply [&>span:first-child]:hidden;
}

.dropdown-menu-item-indicator {
  @apply size-4;
  @apply flex items-center justify-center;
  @apply absolute left-3 top-1/2 -translate-y-1/2;
}

.indicator-inner {
  @apply border-2 transition-colors;
  @apply size-4 rounded-full;
  @apply flex items-center justify-center;
}

.indicator-inner--selected {
  @apply border-lilac bg-lilac;
}

.indicator-inner--not-selected {
  @apply border-border bg-greyscale-300;
}

.check-icon {
  @apply text-background size-3;
}

.dropdown-menu-item-label {
  @apply text-text-primary;
}
