@import '../../theme/theme.module.css';

.tabs-list {
  @apply text-muted-foreground;
  @apply h-10;
  @apply inline-flex items-center justify-center;
}

.tabs-trigger {
  @apply whitespace-nowrap transition-all;
  @apply px-3 py-1.5;
  @apply text-lg font-medium;
  @apply ring-offset-background border-b-2 border-transparent;
  @apply inline-flex items-center justify-center;
  @apply data-[state=active]:border-dark-lilac data-[state=active]:text-foreground data-[state=active]:shadow-sm;
  @apply focus-visible:ring-ring focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-offset-2;
  @apply disabled:pointer-events-none disabled:opacity-50;
}

.tabs-content {
  @apply ring-offset-background;
  @apply mt-2;
  @apply focus-visible:ring-ring focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-offset-2;
}
