@reference '../../theme/theme.module.css';

.tabs-list {
  @apply text-text-secondary;
  @apply h-10;
  @apply flex-center;
}

.tabs-trigger {
  @apply whitespace-nowrap transition-all;
  @apply px-3 py-1.5;
  @apply text-lg font-medium;
  @apply border-b-2 border-transparent;
  @apply flex-center;
  @apply data-[state=active]:border-dark-lilac data-[state=active]:text-text-primary data-[state=active]:shadow-sm;
  @apply focus-ring;
  @apply disabled:pointer-events-none disabled:opacity-50;
}

.tabs-content {
  @apply mt-2;
  @apply focus-ring;
}
