@reference '../../theme/theme.module.css';

.tabs {
  @apply w-full;
}

.tabs-list {
  @apply relative w-full;
}

.tabs-list--transparent {
  @apply border-border border-b;
}

.tabs-list--filled {
  @apply bg-background-sunken inset-shadow-xs;
  @apply overflow-hidden rounded-md;
}

.tabs-trigger--filled {
  @apply w-full;
  @apply px-3 py-1.5;
  @apply text-text-secondary;
}

.tabs-icon {
  @apply text-inherit;
}

.tabs-list .tabs-trigger--filled {
  @apply data-[state=active]:text-button-primary-text;
}

.tabs-list .tabs-trigger--transparent {
  @apply data-[state=active]:text-text-primary;
}

.active-tab-indicator {
  @apply bg-button-primary-fill z-behind absolute w-full;
}

.active-tab-indicator--filled {
  @apply inset-0;
  @apply h-full rounded-sm;
}

.active-tab-indicator--transparent {
  @apply h-0.5;
  @apply bottom-0 left-0 right-0;
}

.content {
  @apply mt-5 space-y-6;
}
