@reference '../../theme/theme.module.css';

.code-block {
  @apply border-border overflow-hidden rounded-md border;
  @apply flex flex-col;
  @apply max-h-64;
}

.header {
  @apply bg-background;
  @apply px-3 py-2;
  @apply flex items-center gap-2;
}

.header-left {
  @apply flex items-center gap-2;
  @apply grow;
}

.header-right {
  @apply shrink-0;
}

.title {
  @apply text-text-secondary text-sm font-medium;
}

.badge {
  @apply shrink-0;
}

.content {
  @apply bg-card-background border-t-border border-t;
  @apply font-mono text-xs;
  @apply flex-1;
  @apply flex flex-col;
  @apply overflow-scroll;
}

.neutral {
  @apply border-border;
}

.primary {
  @apply border-brand-primary;
}

.success {
  @apply border-brand-green;
}

.danger {
  @apply border-brand-red;
}

.warning {
  @apply border-brand-yellow;
}

.code-label {
  @apply p-3;
  @apply border-t-border border-t;
}

.code-label-text {
  @apply text-text-secondary;
  @apply font-mono text-xs;
}

.pre {
  @apply bg-transparent! px-3! my-0!;
  @apply py-3;
}

.code.wrap {
  @apply whitespace-pre-wrap;
}
