@reference '../../theme/theme.module.css';

.switch {
  --switch-transition-duration: 250ms;
  --switch-transition-easing: cubic-bezier(0.32, 0.72, 0, 1);
  --switch-off-fill: var(--color-greyscale-500);
  --switch-off-hover-fill: var(--color-greyscale-600);
  --switch-on-hover-fill: color-mix(in oklch, var(--mix-color), black 16%);
  @apply cursor-pointer rounded-full;
  @apply transition-colors;
  @apply duration-(--switch-transition-duration) ease-(--switch-transition-easing);
  @apply motion-reduce:transition-none;
  @apply inline-flex shrink-0 items-center;
  @apply border-2 border-transparent;
  @apply focus-ring;
  @apply disabled:cursor-not-allowed disabled:opacity-50;

  @variant dark {
    --switch-off-fill: var(--color-greyscale-600);
    --switch-off-hover-fill: var(--color-greyscale-500);
    --switch-on-hover-fill: color-mix(in oklch, var(--mix-color), white 14%);
  }
}

.thumb {
  @apply bg-background shadow-lg ring-0;
  @apply transition-transform;
  @apply duration-(--switch-transition-duration) ease-(--switch-transition-easing);
  @apply motion-reduce:transition-none;
  @apply flex items-center justify-center rounded-full;
  @apply pointer-events-none;
  @apply data-[state=unchecked]:translate-x-0;
}

.thumb-icon {
  @apply text-text-primary;
}

/* Size variants */

.switch.sm {
  @apply h-5 w-9;
}

.switch.md {
  @apply h-6 w-11;
}

.switch.lg {
  @apply w-13 h-7;
}

.thumb.sm {
  @apply size-4 data-[state=checked]:translate-x-4;
}

.thumb.md {
  @apply size-5 data-[state=checked]:translate-x-5;
}

.thumb.lg {
  @apply size-6 data-[state=checked]:translate-x-6;
}

/* Color variants */

.switch.default {
  --mix-color: var(--color-button-primary-fill);
}

.switch.danger {
  --mix-color: var(--color-button-danger-fill);
}

.switch[data-state='unchecked'] {
  @apply bg-(--switch-off-fill);
  @apply hover:not-disabled:bg-(--switch-off-hover-fill);
}

.switch[data-state='checked'] {
  @apply bg-(--mix-color);
  @apply hover:not-disabled:bg-(--switch-on-hover-fill);
}
