@reference '../../theme/theme.module.css';

.switch {
  @apply cursor-pointer rounded-full;
  @apply transition-colors;
  @apply inline-flex shrink-0 items-center;
  @apply border-2 border-transparent;
  @apply focus-ring;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
}

.thumb {
  @apply bg-background shadow-lg ring-0;
  @apply transition-transform;
  @apply flex items-center justify-center rounded-full;
  @apply pointer-events-none;
  @apply data-[state=unchecked]:translate-x-0;
}

.thumb-icon {
  @apply text-text-primary;
}

/* Size variants */

.switch.sm {
  @apply h-5 w-9;
}

.switch.md {
  @apply h-6 w-11;
}

.switch.lg {
  @apply w-13 h-7;
}

.thumb.sm {
  @apply size-4 data-[state=checked]:translate-x-4;
}

.thumb.md {
  @apply size-5 data-[state=checked]:translate-x-5;
}

.thumb.lg {
  @apply size-6 data-[state=checked]:translate-x-6;
}

/* Color variants */

.switch.default {
  --mix-color: var(--color-button-primary-fill);
  @apply data-[state=checked]:bg-(--mix-color) data-[state=unchecked]:bg-greyscale-700;
  @apply data-[state=checked]:hover:bg-mixed-light data-[state=unchecked]:hover:bg-greyscale-600;
}

.switch.danger {
  @apply data-[state=checked]:bg-red-500 data-[state=unchecked]:bg-red-700;
  @apply data-[state=checked]:hover:bg-red-600 data-[state=unchecked]:hover:bg-red-600;
}
