@reference '../../theme/theme.module.css';

.icon-container {
  @apply text-text-primary;
  @apply w-max shrink-0;
  @apply flex items-center justify-center;
}

.icon-container:not(.background--transparent) {
  @apply bg-background-secondary;
}

.icon-container:not(.background--transparent):not(.size--xs) {
  @apply p-2;
}

.icon-container:not(.background--transparent).size--xs {
  @apply p-1.5;
}

/* Size Variants */

.size--xs .icon {
  @apply size-3;
}

.size--sm .icon {
  @apply size-4;
}

.size--md .icon {
  @apply size-5;
}

.size--lg .icon {
  @apply size-8;
}

/* Background Variants */

.background--square.size--xs {
  @apply rounded;
}

.background--square.size--sm {
  @apply rounded-md;
}

.background--square.size--md,
.background--square.size--lg {
  @apply rounded-lg;
}

.background--circle {
  @apply rounded-full;
}
