@reference '../../theme/theme.module.css';

.progress {
  @apply bg-greyscale-800;
  @apply relative overflow-hidden;
  @apply h-1.5 w-full rounded-full;
}

.progress-indicator {
  @apply size-full flex-1;
  @apply transition-all;
}

.primary {
  @apply bg-brand-primary;
}

.secondary {
  @apply bg-brand-secondary;
}

.green {
  @apply bg-brand-green;
}

.red {
  @apply bg-brand-red;
}

.yellow {
  @apply bg-brand-yellow;
}
