@reference '../../theme/theme.module.css';

.progress {
  @apply relative overflow-hidden;
  @apply h-1.5 w-full rounded-full;
}

.progress-indicator {
  @apply size-full flex-1;
  @apply transition-all;
}

.primary {
  @apply bg-brand-primary;
}

.secondary {
  @apply bg-brand-secondary;
}

.green {
  @apply bg-brand-green;
}

.red {
  @apply bg-brand-red;
}

.yellow {
  @apply bg-brand-yellow;
}

/* ELEVATION */

.progress--sunken {
  @apply bg-background-sunken;
}

.progress--base {
  @apply bg-background-base;
}

.progress--raised {
  @apply bg-background-raised;
}

.progress--overlay {
  @apply bg-background-overlay;
}

.progress--floating {
  @apply bg-background-floating;
}
