@reference '../../theme/theme.module.css';

.tooltip-content {
  @apply z-highest;
  @apply overflow-hidden rounded-md;
  @apply border-border-overlay bg-background-overlay border;
  @apply shadow-shadow-overlay shadow-sm;
  @apply text-text-primary text-sm;
  @apply px-3 py-1.5;
  @apply origin-(--radix-tooltip-content-transform-origin);
  @apply animate-in fade-in-0 zoom-in-95;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95;
  @apply data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2;
}

.tooltip-arrow {
  @apply fill-border stroke-border;
  @apply stroke-1;
}
