@reference '../../theme/theme.module.css';

.pagination {
  @apply relative mt-4;
  @apply flex-center-between;
}

.info-container {
  @apply text-text-secondary text-sm;
  @apply flex items-center gap-2;
  @apply whitespace-nowrap;
}

.page-navigation-container {
  @apply flex gap-1;
}
