@reference '../../theme/theme.module.css';

.pagination {
  @apply relative mt-4;
  @apply flex items-center justify-between;
}

.info-container {
  @apply flex items-center gap-2;
}

.info-text {
  @apply text-muted-foreground text-sm;
  @apply flex items-center gap-1;
}

.select-trigger {
  @apply border-border hover:text-accent-foreground border bg-black/60 hover:bg-white/10;
  @apply text-sm;
  @apply gap-0.5 px-2;
  @apply h-7 w-auto rounded-md;
}

.select-item {
  @apply cursor-pointer;
}

.page-navigation-container {
  @apply flex gap-1;
}

.icon {
  @apply size-4;
}
