@reference '../../theme/theme.module.css';

.badge--in-progress {
  --badge-bg-color: var(--color-badge-background-in-progress);
  --badge-fg-color: var(--color-badge-text-in-progress);
}

.badge--not-started {
  --badge-bg-color: var(--color-badge-background-not-started);
  --badge-fg-color: var(--color-badge-text-not-started);
}

.badge--ready-for-review {
  --badge-bg-color: var(--color-badge-background-ready-for-review);
  --badge-fg-color: var(--color-badge-text-ready-for-review);
}

.badge--in-review {
  --badge-bg-color: var(--color-badge-background-in-review);
  --badge-fg-color: var(--color-badge-text-in-review);
}

.badge--comment {
  --badge-bg-color: var(--color-badge-background-comment);
  --badge-fg-color: var(--color-badge-text-comment);
}

.badge--non-compliant {
  --badge-bg-color: var(--color-badge-background-non-compliant);
  --badge-fg-color: var(--color-badge-text-non-compliant);
}

.badge--not-applicable {
  --badge-bg-color: var(--color-badge-background-not-applicable);
  --badge-fg-color: var(--color-badge-text-not-applicable);
}

.badge--accepted {
  --badge-bg-color: var(--color-badge-background-accepted);
  --badge-fg-color: var(--color-badge-text-accepted);
}

.badge--question {
  --badge-bg-color: var(--color-badge-background-question);
  --badge-fg-color: var(--color-badge-text-question);
}

.badge--general {
  --badge-bg-color: var(--color-badge-background-comment);
  --badge-fg-color: var(--color-badge-text-comment);
}

.badge--compliant {
  --badge-bg-color: var(--color-badge-background-compliant);
  --badge-fg-color: var(--color-badge-text-compliant);
}
