@reference '../../theme/theme.module.css';

.element-icon {
  @apply flex overflow-hidden transition-all;
  @apply aspect-square w-10 min-w-10 p-2;
  @apply border-border rounded-full border;
}

.element-icon--background {
  @apply bg-white;
}

.image {
  @apply object-cover;
}

.icon {
  @apply size-full;
}
