@reference '../../theme/theme.module.css';

.dropdown-menu-inset {
  @apply pl-8;
}

.dropdown-menu-sub-content,
.dropdown-menu-content {
  @apply dropdown-content;
  @apply origin-(--radix-dropdown-menu-content-transform-origin);
  @apply max-h-(--radix-dropdown-menu-content-available-height);
}

.dropdown-menu-trigger,
.dropdown-menu-item {
  @apply px-2 py-1.5;
  @apply gap-2;
  @apply [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;
}

.dropdown-menu-checkbox-item,
.dropdown-menu-radio-item {
  @apply py-1.5 pl-8 pr-2;
}

.dropdown-menu-trigger,
.dropdown-menu-item,
.dropdown-menu-checkbox-item,
.dropdown-menu-radio-item {
  @apply dropdown-item;
}

.dropdown-menu-item-indicator-checkbox,
.dropdown-menu-item-indicator-radio {
  @apply absolute left-2 size-3.5;
  @apply flex-center;
  @apply border-text-secondary border;
}

.dropdown-menu-item-indicator-checkbox {
  @apply rounded-sm;
}

.dropdown-menu-item-indicator-radio {
  @apply rounded-full;
}

.icon-size {
  @apply size-3;
}

.radio-icon {
  @apply size-2 fill-current;
}

.dropdown-menu-label {
  @apply flex-center-between gap-2;
  @apply px-2 py-1.5 text-sm font-medium;
}

.dropdown-menu-separator {
  @apply bg-border;
  @apply -mx-1 my-1 h-px;
}

.dropdown-menu-shortcut {
  @apply text-text-secondary text-xs;
  @apply ml-auto;
}

/* ELEVATIONS */

.dropdown-menu-content--sunken,
.dropdown-menu-content--sunken .dropdown-menu-sub-content {
  @apply bg-background-sunken shadow-shadow-sunken border-border-sunken;
}
.dropdown-menu-content--sunken .dropdown-menu-trigger,
.dropdown-menu-content--sunken .dropdown-menu-item,
.dropdown-menu-content--sunken .dropdown-menu-checkbox-item,
.dropdown-menu-content--sunken .dropdown-menu-radio-item {
  --mix-color: var(--color-card-background); /* TODO: Change to --color-background-sunken */
}

.dropdown-menu-content--base,
.dropdown-menu-content--base .dropdown-menu-sub-content {
  @apply bg-background-base shadow-shadow-base border-border-base;
}
.dropdown-menu-content--base .dropdown-menu-trigger,
.dropdown-menu-content--base .dropdown-menu-item,
.dropdown-menu-content--base .dropdown-menu-checkbox-item,
.dropdown-menu-content--base .dropdown-menu-radio-item {
  --mix-color: var(--color-background); /* TODO: Change to --color-background-base */
}

.dropdown-menu-content--raised,
.dropdown-menu-content--raised .dropdown-menu-sub-content {
  @apply bg-background-raised shadow-shadow-raised border-border-raised;
}
.dropdown-menu-content--raised .dropdown-menu-trigger,
.dropdown-menu-content--raised .dropdown-menu-item,
.dropdown-menu-content--raised .dropdown-menu-checkbox-item,
.dropdown-menu-content--raised .dropdown-menu-radio-item {
  --mix-color: var(--color-card-background); /* TODO: Change to --color-background-raised */
}

.dropdown-menu-content--overlay,
.dropdown-menu-content--overlay .dropdown-menu-sub-content {
  @apply bg-background-overlay shadow-shadow-overlay border-border-overlay;
}
.dropdown-menu-content--overlay .dropdown-menu-trigger,
.dropdown-menu-content--overlay .dropdown-menu-item,
.dropdown-menu-content--overlay .dropdown-menu-checkbox-item,
.dropdown-menu-content--overlay .dropdown-menu-radio-item {
  --mix-color: var(--color-popover-background); /* TODO: Change to --color-background-overlay */
}

.dropdown-menu-content--floating,
.dropdown-menu-content--floating .dropdown-menu-sub-content {
  @apply bg-background-floating shadow-shadow-floating border-border-floating;
}
.dropdown-menu-content--floating .dropdown-menu-trigger,
.dropdown-menu-content--floating .dropdown-menu-item,
.dropdown-menu-content--floating .dropdown-menu-checkbox-item,
.dropdown-menu-content--floating .dropdown-menu-radio-item {
  --mix-color: var(--color-card-background); /* TODO: Change to --color-background-floating */
}
