@reference '../../theme/theme.module.css';

.dropdown-menu-inset {
  @apply pl-8;
}

.dropdown-menu-sub-content {
  @apply z-50 rounded-md p-1;
  @apply min-w-32 overflow-hidden;
  @apply bg-popover text-popover-foreground border shadow-lg;
  @apply origin-(--radix-dropdown-menu-content-transform-origin);
  @apply data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2;
  @apply data-[state=open]:animate-in data-[state=open]:fade-in-0 data-[state=open]:zoom-in-95;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95;
}

.dropdown-menu-content {
  @apply bg-background text-text-primary border border-white/20 shadow-md;
  @apply z-50 rounded-md p-1;
  @apply overflow-y-auto overflow-x-hidden;
  @apply max-h-(--radix-dropdown-menu-content-available-height) min-w-32;
  @apply origin-(--radix-dropdown-menu-content-transform-origin);
  @apply data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2;
  @apply data-[state=open]:animate-in data-[state=open]:fade-in-0 data-[state=open]:zoom-in-95;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95;
}

.dropdown-menu-trigger,
.dropdown-menu-item {
  @apply px-2 py-1.5;
  @apply gap-2;
  @apply [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;
}

.dropdown-menu-checkbox-item,
.dropdown-menu-radio-item {
  @apply py-1.5 pl-8 pr-2;
}

.dropdown-menu-trigger,
.dropdown-menu-item,
.dropdown-menu-checkbox-item,
.dropdown-menu-radio-item {
  --mix-color: var(--color-button-tertiary-fill);
  @apply cursor-pointer;
  @apply flex items-center;
  @apply text-sm transition-colors;
  @apply relative rounded-sm;
  @apply outline-hidden select-none;
  @apply hover:not-disabled:bg-mixed-light focus:bg-mixed-light;
  @apply data-disabled:pointer-events-none data-disabled:opacity-50;
}

.dropdown-menu-item-indicator-checkbox,
.dropdown-menu-item-indicator-radio {
  @apply absolute left-2 size-3.5;
  @apply flex items-center justify-center;
  @apply border-text-secondary border;
}

.dropdown-menu-item-indicator-checkbox {
  @apply rounded-sm;
}

.dropdown-menu-item-indicator-radio {
  @apply rounded-full;
}

.icon-size {
  @apply size-3;
}

.radio-icon {
  @apply size-2 fill-current;
}

.dropdown-menu-label {
  @apply px-2 py-1.5 text-sm font-medium;
}

.dropdown-menu-separator {
  @apply bg-border;
  @apply -mx-1 my-1 h-px;
}

.dropdown-menu-shortcut {
  @apply text-text-secondary text-xs;
  @apply ml-auto;
}
