@reference '../../theme/theme.module.css';

.drawer-overlay {
  @apply overlay-content;
  @apply overlay-background;
}

.drawer-content {
  @apply bg-popover-background border;
  @apply mt-24 rounded-t-[10px];
  @apply z-modal fixed inset-x-0 bottom-0 h-auto;
  @appy flex flex-col;
}

.drawer-content-divider {
  @apply bg-border;
  @apply h-2 w-[100px] rounded-full;
  @apply mx-auto mt-4;
}

.drawer-header {
  @apply grid gap-1.5;
  @apply p-4;
  @apply text-center sm:text-left;
}

.drawer-footer {
  @apply mt-auto p-4;
  @apply flex flex-col gap-2;
}

.drawer-title {
  @apply text-lg leading-none font-semibold tracking-tight;
}

.drawer-description {
  @apply text-text-secondary text-sm;
}
