@reference '../../theme/theme.module.css';

.drawer-overlay {
  @apply overlay-content;
  @apply overlay-background;
}

.drawer-content {
  @apply bg-background-overlay border-border-overlay shadow-shadow-overlay border shadow-lg;
  @apply mt-24 rounded-t-[10px];
  @apply z-modal fixed inset-x-0 bottom-0 h-auto;
  @appy flex flex-col;
}

.drawer-content-divider {
  @apply bg-border;
  @apply h-2 w-[100px] rounded-full;
  @apply mx-auto mt-4;
}

.drawer-header {
  @apply grid grid-cols-[1fr_auto] gap-1.5 [&>*]:col-start-1;
  @apply p-4;
  @apply text-center sm:text-left;
}

.drawer-header-actions {
  @apply row-span-(--row-span) col-start-2 row-start-1;
}

.drawer-footer {
  @apply mt-auto p-4;
  @apply flex flex-col gap-2;
}

.drawer-title {
  @apply text-lg font-semibold leading-none tracking-tight;
}

.drawer-description {
  @apply text-text-secondary text-sm;
}

.drawer-inner-content {
  @apply px-4;
}
