@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme) theme(inline);
@import 'tailwindcss/utilities.css' layer(utilities);
@import 'tw-animate-css';

/* COLORS SCOPED GLOBALLY */
@import './generated/global-light-tokens.css';
@import './generated/global-dark-tokens.css';
@import './generated/tailwind-tokens.css';

@import './theme-base.css';
@import './theme-preflight-global.css';
@import './theme-components.css';
@import './theme-utilities.css';
