@layer components {
  .styled-horizontal-scrollbar {
    &::-webkit-scrollbar {
      width: 100%;
      height: 0.375rem;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 999px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #7f738f;
      border-radius: 999px;
    }
  }

  .styled-vertical-scrollbar {
    &::-webkit-scrollbar {
      height: 100%;
      width: 0.375rem;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 999px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #7f738f;
      border-radius: 999px;
    }
  }
}
