@utility focus-ring {
  @apply ring-offset-background;
  @apply focus-visible:ring-focus-ring;
  @apply focus-visible:ring-2;
  @apply focus-visible:ring-offset-2;
  @apply focus-visible:outline-none;
}

@utility overlay-background {
  @apply bg-black/80 backdrop-blur-xs;
}

@utility overlay-content {
  @apply fixed inset-0 z-50;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-center-between {
  @apply flex items-center justify-between;
}

@utility dropdown-content {
  @apply bg-popover-background text-text-primary border-border border;
  @apply z-50 rounded-md p-1;
  @apply overflow-x-hidden overflow-y-auto;
  @apply max-h-80 min-w-32;
  @apply data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2;
  @apply data-[state=open]:animate-in data-[state=open]:fade-in-0 data-[state=open]:zoom-in-95;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95;
}

@utility dropdown-item {
  --mix-color: var(--color-button-tertiary-fill);
  @apply cursor-pointer;
  @apply flex items-center;
  @apply text-sm transition-colors;
  @apply relative rounded-sm;
  @apply outline-hidden select-none;
  @apply hover:not-disabled:bg-mixed-light focus:bg-mixed-light;
  @apply data-disabled:pointer-events-none data-disabled:opacity-50;
}

@utility animate-popup-overlay {
  @apply data-[state=open]:animate-in data-[state=open]:fade-in-0;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0;
}

@utility animate-popup-content {
  @apply data-[state=open]:fade-in-0 data-[state=open]:zoom-in-95 data-[state=open]:animate-in;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95;
}
