@custom-variant dark (&:where(html[data-equality-theme=dark], html[data-equality-theme=dark] *, [data-equality-theme=dark] .root, [data-equality-theme=dark] .root *));

@theme {
  /* RADIUS */
  --radius-md: 0.375rem;
}

@theme inline {
  /* FONT FAMILY */
  --font-sans: 'TWK Lausanne', 'Inter', sans-serif;

  /* FONT SIZE */
  --text-xxs: 0.625rem;

  /* Z-INDEX */
  --z-index-behind: -1;
  --z-index-base: 0;
  --z-index-above: 10;
  --z-index-overlay: 50;
  --z-index-modal: 50;
  --z-index-dropdown: 50;
  --z-index-highest: 9999;

  --color-shadow-sunken: rgba(0, 0, 0, 0.05);
  --color-shadow-base: transparent;
  --color-shadow-raised: rgba(0, 0, 0, 0.05);
  --color-shadow-overlay: rgba(0, 0, 0, 0.1);
  --color-shadow-floating: rgba(0, 0, 0, 0.15);

  /* Animation */
  --animate-grow-in: grow-in 800ms ease-in-out backwards;
  --animate-fade-in: fade-in 800ms ease-in-out backwards;

  @keyframes grow-in {
    from {
      transform: scaleY(0.75);
    }
    to {
      transform: scaleY(1);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
