@theme {
  /* RADIUS */
  --radius-md: 0.375rem;
}

@theme inline {
  /* FONT FAMILY */
  --font-sans: 'TWK Lausanne', 'Inter', sans-serif;

  /* FONT SIZE */
  --text-xxs: 0.625rem;

  /* Z-INDEX */
  --z-index-behind: -1;
  --z-index-base: 0;
  --z-index-above: 10;
  --z-index-overlay: 50;
  --z-index-modal: 50;
  --z-index-dropdown: 50;
  --z-index-highest: 9999;

  /* TODO: TEMP ELEVATION COLORS - NEEDS ADJUSTING AND TO BE PUT INTO TOKENS INSTEAD OF BEING PLACED HERE */
  --color-background-bottom: var(
    --color-card-background
  ); /* Extra for further down subcomponents */
  --color-background-sunken: var(--color-card-background);
  --color-background-base: var(--color-background);
  --color-background-raised: var(--color-card-background);
  --color-background-overlay: var(--color-popover-background);
  --color-background-floating: var(--color-card-background);
  --color-background-top: var(--color-card-background); /* Extra for further up subcomponents */

  --color-border-bottom: transparent; /* Extra for further down subcomponents */
  --color-border-sunken: transparent;
  --color-border-base: var(--color-card-border);
  --color-border-raised: var(--color-card-border);
  --color-border-overlay: var(--color-card-border);
  --color-border-floating: var(--color-card-border);
  --color-border-top: var(--color-card-border); /* Extra for further up subcomponents */

  --color-shadow-bottom: transparent; /* Extra for further down subcomponents */
  --color-shadow-sunken: transparent;
  --color-shadow-base: transparent;
  --color-shadow-raised: rgba(0, 0, 0, 0.1);
  --color-shadow-overlay: rgba(0, 0, 0, 0.1);
  --color-shadow-floating: rgba(0, 0, 0, 0.1);
  --color-shadow-top: rgba(0, 0, 0, 0.1); /* Extra for further up subcomponents */

  --color-background-bottom: var(--color-greyscale-800); /* Extra for further down subcomponents */
  --color-background-sunken: var(--color-greyscale-700);
  --color-background-base: var(--color-greyscale-600);
  --color-background-raised: var(--color-greyscale-500);
  --color-background-overlay: var(--color-greyscale-400);
  --color-background-floating: var(--color-greyscale-300);
  --color-background-top: var(--color-greyscale-200); /* Extra for further up subcomponents */

  --color-border-bottom: transparent; /* Extra for further down subcomponents */
  --color-border-sunken: transparent;
  --color-border-base: var(--color-card-border);
  --color-border-raised: var(--color-card-border);
  --color-border-overlay: var(--color-card-border);
  --color-border-floating: var(--color-card-border);
  --color-border-top: var(--color-card-border); /* Extra for further up subcomponents */

  --color-shadow-bottom: transparent; /* Extra for further down subcomponents */
  --color-shadow-sunken: transparent;
  --color-shadow-base: transparent;
  --color-shadow-raised: rgba(0, 0, 0, 0.1);
  --color-shadow-overlay: rgba(0, 0, 0, 0.1);
  --color-shadow-floating: rgba(0, 0, 0, 0.1);
  --color-shadow-top: rgba(0, 0, 0, 0.1); /* Extra for further up subcomponents */

  /* Animation */
  --animate-grow-in: grow-in 800ms ease-in-out backwards;
  --animate-fade-in: fade-in 800ms ease-in-out backwards;

  @keyframes grow-in {
    from {
      transform: scaleY(0.75);
    }
    to {
      transform: scaleY(1);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
