@reference '../../theme/theme.module.css';

.form-item {
  @apply space-y-2;
}

.form-label {
  @apply inline-block;
}

.form-label--failure {
  @apply text-button-danger-text;
}

.form-description {
  @apply text-text-secondary text-sm;
}

.form-message {
  @apply text-button-danger-text text-sm font-medium;
}
