@reference '../../theme/theme.module.css';

.badge {
  @apply px-2 py-0.5;
  @apply text-xs font-medium transition-colors;
  @apply rounded-full;
  @apply flex items-center gap-1;
  @apply w-max;
}

.badge--primary {
  @apply bg-badge-background-primary;
  @apply text-badge-text-primary;
}

.badge--danger {
  @apply bg-badge-background-danger;
  @apply text-badge-text-danger;
}

.badge--neutral {
  @apply bg-badge-background-not-started;
  @apply text-badge-text-not-started;
}

.badge--success {
  @apply bg-badge-background-success;
  @apply text-badge-text-success;
}
