@reference '../../theme/theme.module.css';

.badge {
  @apply px-2 py-0.5;
  @apply text-xs font-medium transition-colors;
  @apply rounded-full;
  @apply flex items-center gap-1;
  @apply w-max;
}

/* Color Variants */

.badge--primary {
  @apply bg-badge-background-primary;
  @apply text-badge-text-primary;
}

.badge--danger {
  @apply bg-badge-background-danger;
  @apply text-badge-text-danger;
}

.badge--neutral {
  @apply bg-badge-background-not-started;
  @apply text-badge-text-not-started;
}

.badge--warning {
  @apply bg-badge-background-warning;
  @apply text-badge-text-warning;
}

.badge--success {
  @apply bg-badge-background-success;
  @apply text-badge-text-success;
}

/* Closable Variant */

.badge .closable-btn {
  @apply -mr-1 size-3.5 rounded-full border-none p-0 [&_svg]:size-3;
  @apply hover:text-button-tertiary-text;
}

.badge--primary .closable-btn {
  @apply text-badge-text-primary bg-badge-background-primary;
  @apply hover:text-badge-background-primary hover:bg-badge-text-primary;
}

.badge--danger .closable-btn {
  @apply text-badge-text-danger bg-badge-background-danger;
  @apply hover:text-badge-background-danger hover:bg-badge-text-danger;
}

.badge--warning .closable-btn {
  @apply text-badge-text-warning bg-badge-background-warning;
  @apply hover:text-badge-background-warning hover:bg-badge-text-warning;
}

.badge--neutral .closable-btn {
  @apply text-badge-text-not-started bg-badge-background-not-started;
  @apply hover:text-badge-background-not-started hover:bg-badge-text-not-started;
}

.badge--success .closable-btn {
  @apply text-badge-text-success bg-badge-background-success;
  @apply hover:text-badge-background-success hover:bg-badge-text-success;
}

/* Truncate Variant */

.tooltip {
  @apply max-w-xs break-words;
}

/* Icon Variant */

.badge .icon {
  @apply text-inherit;
}

.badge--icon-only {
  @apply p-1;
}
