@reference '../../theme/theme.module.css';

.badge {
  @apply font-medium transition-colors;
  @apply rounded-full;
  @apply flex items-center;
  @apply w-max;
  @apply tabular-nums;
  background-color: var(--badge-bg-color);
  color: var(--badge-fg-color);
}

/* Size Variants */

.badge--md {
  @apply px-2 py-0.5 text-xs;
  @apply min-h-5 min-w-5 gap-1;
}

.badge--sm {
  @apply px-1 py-0 text-xs;
  @apply min-h-4 min-w-4 gap-0.5;
}

/* Color Variants */

.badge--primary {
  --badge-bg-color: var(--color-badge-background-primary);
  --badge-fg-color: var(--color-badge-text-primary);
}

.badge--secondary {
  --badge-bg-color: var(--color-badge-background-secondary);
  --badge-fg-color: var(--color-badge-text-secondary);
}

.badge--danger {
  --badge-bg-color: var(--color-badge-background-danger);
  --badge-fg-color: var(--color-badge-text-danger);
}

.badge--neutral {
  --badge-bg-color: var(--color-badge-background-not-started);
  --badge-fg-color: var(--color-badge-text-not-started);
}

.badge--warning {
  --badge-bg-color: var(--color-badge-background-warning);
  --badge-fg-color: var(--color-badge-text-warning);
}

.badge--success {
  --badge-bg-color: var(--color-badge-background-success);
  --badge-fg-color: var(--color-badge-text-success);
}

/* Closable Variant */

.badge .closable-btn {
  @apply -mr-1 size-3.5 rounded-full border-none p-0 [&_svg]:size-3;
  background-color: var(--badge-bg-color);
  color: var(--badge-fg-color);
}

.badge .closable-btn:hover {
  background-color: var(--badge-fg-color);
  color: var(--badge-bg-color);
}

.badge--sm .closable-btn {
  @apply size-3 [&_svg]:size-2.5;
}

/* Truncate Variant */

.tooltip {
  @apply max-w-xs break-words;
}

/* Icon Variant */

.badge .icon {
  @apply text-inherit;
}

.badge--monospace {
  @apply font-mono;
}

.badge--square {
  @apply rounded-sm;
}

.badge--icon-only {
  @apply p-1;
}

.badge--sm.badge--icon-only {
  @apply p-0.5;
}
