@import '../../theme/theme.module.css';

.container {
  @apply focus:ring-ring focus:outline-hidden focus:ring-2 focus:ring-offset-2;
  @apply inline-flex items-center;
  @apply px-2 py-0.5;
  @apply text-xs font-medium transition-colors;
  @apply rounded-full border;
}

.default {
  @apply bg-primary border-transparent;
  @apply text-primary-foreground;
}

.primary {
  @apply bg-lilac/20 border-transparent;
  @apply text-lilac;
}

.secondary {
  @apply bg-secondary border-transparent;
  @apply text-secondary-foreground;
}

.destructive {
  @apply bg-destructive border-transparent;
  @apply text-destructive-foreground;
}

.outline {
  @apply text-foreground;
}

.neutral {
  @apply bg-foreground/10 border-transparent;
  @apply text-muted-foreground font-medium;
  @apply flex items-center gap-1;
}

.success {
  @apply bg-compliant-secondary border-transparent;
  @apply text-compliant;
}
