@import "tailwindcss";

@import "@eqtylab/equality/theme-config.css";

@layer components {
  body {
    @apply bg-background text-text-primary;
  }

  .list {
    @apply text-text-secondary space-y-1 pl-4 [&>li]:text-base/7 [&>li>p]:align-top;
  }

  .label {
    @apply text-xs tracking-wider uppercase;
  }

  .tree-view-item {
    @apply w-full cursor-pointer border-l py-1.5 text-left transition-all duration-300;
    @apply text-text-secondary hover:border-text-primary hover:text-text-primary;
  }

  #markdown-content {
    & > h1 {
      @apply text-4xl font-bold [&>code]:text-3xl;
      @apply mt-12 mb-4;
    }

    & > h2 {
      @apply text-2xl font-semibold [&>code]:text-xl;
      @apply mt-12 mb-4;
    }

    & > h3 {
      @apply text-xl font-medium [&>code]:text-lg;
      @apply mt-8 mb-4;
    }

    & > h4 {
      @apply text-lg font-medium [&>code]:text-base;
      @apply mt-6 mb-4;
    }

    & > h5 {
      @apply text-base font-medium [&>code]:text-sm;
      @apply mt-4 mb-4;
    }

    & > h6 {
      @apply text-sm font-medium [&>code]:text-xs;
      @apply mt-4 mb-4;
    }

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      @apply scroll-mt-24;
    }

    & > p {
      @apply text-text-secondary text-base/7 font-normal;
    }

    & > p b,
    & > p strong {
      @apply text-text-primary font-medium;
    }

    & > h1 code,
    & > h2 code,
    & > h3 code,
    & > h4 code,
    & > h5 code,
    & > h6 code,
    & > li code,
    & > li strong code,
    & > ul li code,
    & > ul li strong code,
    & > p code,
    & > table td code {
      @apply bg-card-background text-text-secondary rounded-sm p-1;
    }

    & > li code,
    & > li strong code,
    & > ul li code,
    & > ul li strong code,
    & > p code,
    & > table td code {
      @apply text-sm;
    }

    & > p,
    & > pre,
    & > ul,
    & > ol,
    & > table,
    & > div,
    & > span {
      @apply mb-2;
    }

    & > hr {
      @apply mb-4;
    }

    & > ul,
    & > ol {
      @apply text-text-secondary;
      @apply space-y-1 pl-4;
    }

    & > ul strong,
    & > ol strong,
    & > ul b,
    & > ol b {
      @apply text-text-primary font-medium;
    }

    & > ul {
      @apply list-disc;
    }

    & > ol {
      @apply list-decimal;
    }

    & p > a,
    & > a {
      @apply text-text-primary font-medium transition-all;
      @apply underline underline-offset-4;
      @apply hover:text-lilac-400;
    }

    & > table {
      @apply w-full border-collapse;
    }

    & > table tr {
      @apply border-b;
    }

    & > table th {
      @apply p-3 text-left font-semibold;
    }

    & > table td {
      @apply p-3;
    }

    & > pre {
      @apply text-text-primary! bg-greyscale-900! overflow-x-auto rounded-sm p-3 text-sm;
    }

    & > pre code {
      @apply break-all whitespace-pre-wrap;
    }

    & > :first-child {
      @apply mt-0;
    }

    & > :last-child {
      @apply mb-0;
    }
  }
}
