@reference '../../theme/theme.module.css';

.metric-card {
  @apply bg-card-background rounded-md p-3;
  @apply flex flex-col justify-between;
}

.value-container {
  @apply flex-center-between gap-2;
}

.value {
  @apply text-2xl font-medium;
}

.label {
  @apply text-text-primary text-sm;
}

.text-default {
  @apply text-text-primary;
}

.text-danger {
  @apply text-brand-red;
}

.text-primary {
  @apply text-brand-primary;
}

.text-success {
  @apply text-brand-green;
}

.text-warning {
  @apply text-brand-yellow;
}

.value-container .bg-danger {
  --mix-color: var(--color-brand-red);
}

.value-container .bg-primary {
  --mix-color: var(--color-brand-primary);
}

.value-container .bg-success {
  --mix-color: var(--color-brand-green);
}

.value-container .bg-warning {
  --mix-color: var(--color-brand-yellow);
}

[data-equality-theme='dark'] .value-container .bg-danger,
[data-equality-theme='dark'] .value-container .bg-primary,
[data-equality-theme='dark'] .value-container .bg-success,
[data-equality-theme='dark'] .value-container .bg-warning {
  --hover-darken: 50%;
  @apply bg-mixed-dark;
}

[data-equality-theme='light'] .value-container .bg-danger,
[data-equality-theme='light'] .value-container .bg-primary,
[data-equality-theme='light'] .value-container .bg-success,
[data-equality-theme='light'] .value-container .bg-warning {
  --hover-lighten: 80%;
  @apply bg-mixed-light;
}
