@reference '../../theme/theme.module.css';

.metric-card {
  @apply rounded-md border p-3;
  @apply flex flex-col justify-between;
}

.value-container {
  @apply flex-center-between gap-2;
}

.value {
  @apply text-2xl font-medium;
}

.label {
  @apply text-text-primary text-sm;
}

.text-default {
  @apply bg-badge-text-neutral;
}

.text-danger {
  @apply text-badge-text-danger;
}

.text-primary {
  @apply text-badge-text-primary;
}

.text-success {
  @apply text-badge-text-success;
}

.text-warning {
  @apply text-badge-text-warning;
}

.value-container .bg-default {
  @apply bg-background-overlay;
}

.value-container .bg-danger {
  @apply bg-badge-background-danger;
}

.value-container .bg-primary {
  @apply bg-badge-background-primary;
}

.value-container .bg-success {
  @apply bg-badge-background-success;
}

.value-container .bg-warning {
  @apply bg-badge-background-warning;
}

/* ELEVATION */

.metric-card--sunken {
  @apply bg-background-sunken shadow-shadow-sunken border-border-sunken;
}

.metric-card--base {
  @apply bg-background-base shadow-shadow-base border-border-base;
}

.metric-card--raised {
  @apply bg-background-raised shadow-shadow-raised border-border-raised;
}

.metric-card--overlay {
  @apply bg-background-overlay shadow-shadow-overlay border-border-overlay;
}

.metric-card--floating {
  @apply bg-background-floating shadow-shadow-floating border-border-floating;
}
