@reference '../../theme/theme.module.css';

.metric-card {
  @apply bg-card-background rounded-md p-3;
  @apply flex flex-col justify-between;
}

.value-container {
  @apply flex-center-between gap-2;
}

.value {
  @apply text-2xl font-medium;
}

.label {
  @apply text-text-primary text-sm;
}

.text-default {
  @apply text-text-primary;
}

.text-red {
  @apply text-red-400;
}

.text-lilac {
  @apply text-lilac-400;
}

.text-green {
  @apply text-green-400;
}

.text-yellow {
  @apply text-yellow-400;
}

.bg-default {
  @apply bg-greyscale-800;
}

.bg-red {
  @apply bg-red-800;
}

.bg-lilac {
  @apply bg-lilac-800;
}

.bg-green {
  @apply bg-green-800;
}

.bg-yellow {
  @apply bg-yellow-800;
}
