@reference '../../theme/theme.css';

.metric-card {
  @apply bg-card-background rounded-md p-3;
  @apply flex flex-col justify-between;
}

.value-container {
  @apply flex-center-between gap-2;
}

.value {
  @apply text-2xl font-medium;
}

.label {
  @apply text-text-primary text-sm;
}

.text-default {
  @apply text-text-primary;
}

.text-danger {
  @apply text-red-400;
}

.text-primary {
  @apply text-lilac-400;
}

.text-success {
  @apply text-emerald-400;
}

.text-warning {
  @apply text-yellow-400;
}

.value-container .bg-default {
  @apply bg-greyscale-800;
}

.value-container .bg-danger {
  @apply bg-red-800;
}

.value-container .bg-primary {
  @apply bg-lilac-800;
}

.value-container .bg-success {
  @apply bg-emerald-800;
}

.value-container .bg-warning {
  @apply bg-yellow-800;
}
