@reference '../../theme/theme.css';

.section-heading--right-content {
  @apply border-border border-b;
  @apply flex-center-between;
  @apply pb-2;
}

.content {
  @apply space-y-1;
}

.heading {
  @apply text-xl font-medium;
}

.description {
  @apply text-text-secondary text-sm;
}
