@reference '../../theme/theme.module.css';

.radio-group {
  @apply grid gap-2;
}

.radio-group-item {
  @apply border-text-primary text-text-primary border;
  @apply aspect-square size-4 rounded-full;
  @apply focus-ring;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
}

.radio-group-item-indicator {
  @apply flex-center;
}

.indicator-icon {
  @apply size-2.5;
  @apply fill-current text-current;
}
