@reference '../../theme/theme.module.css';

.dialog-overlay {
  @apply animate-popup-overlay;
  @apply overlay-content;
  @apply overlay-background;
}

.dialog-content {
  @apply max-h-[85vh] w-[90%] overflow-hidden;
  @apply bg-popover-background rounded-lg border shadow-lg;
  @apply flex flex-col;
  @apply duration-200;
  @apply z-modal fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  @apply animate-popup-content;
}

.dialog-content--size-sm {
  @apply max-w-lg;
}

.dialog-content--size-md {
  @apply max-w-2xl;
}

.dialog-content--size-lg {
  @apply max-w-4xl;
}

.dialog-close {
  @apply cursor-pointer rounded-sm transition-all;
  @apply absolute right-4 top-4;
  @apply text-text-primary hover:text-text-secondary;
  @apply focus-ring;
  @apply disabled:pointer-events-none;
}

.dialog-close-icon {
  @apply size-4;
}

.dialog-close-text {
  @apply sr-only;
}

.dialog-header {
  @apply flex shrink-0 flex-col space-y-1.5;
  @apply text-left;
  @apply border-b-1 border-border;
}

.dialog-footer {
  @apply flex shrink-0 flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2;
  @apply border-t-1 border-border;
  @apply p-3;
}

.dialog-title {
  @apply text-lg font-medium leading-none tracking-tight;
  @apply p-6;
}

.dialog-description {
  @apply text-text-secondary text-sm;
  @apply min-h-0 flex-1 overflow-auto;
  @apply p-6;
}
