@reference '../../theme/theme.module.css';

.dialog-overlay {
  @apply data-[state=open]:animate-in data-[state=open]:fade-in-0;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0;
  @apply overlay-content;
  @apply overlay-background;
}

.dialog-content {
  @apply max-h-full w-full max-w-lg overflow-auto p-6;
  @apply bg-popover-background border shadow-lg sm:rounded-lg;
  @apply grid gap-4;
  @apply duration-200;
  @apply fixed left-1/2 top-1/2 z-50 -translate-x-1/2 -translate-y-1/2;
  @apply data-[state=open]:fade-in-0 data-[state=open]:zoom-in-95 data-[state=open]:animate-in;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95;
}

.dialog-close {
  @apply cursor-pointer rounded-sm transition-all;
  @apply absolute right-4 top-4;
  @apply text-text-primary hover:text-text-secondary;
  @apply focus-ring;
  @apply disabled:pointer-events-none;
}

.dialog-close-icon {
  @apply size-4;
}

.dialog-close-text {
  @apply sr-only;
}

.dialog-header {
  @apply flex flex-col space-y-1.5;
  @apply text-center sm:text-left;
}

.dialog-footer {
  @apply flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2;
}

.dialog-title {
  @apply text-lg font-medium leading-none tracking-tight;
}

.dialog-description {
  @apply text-text-secondary text-sm;
}
