@reference '../../theme/theme.module.css';

.toast-viewport {
  @apply flex flex-col-reverse sm:flex-col;
  @apply p-4;
  @apply z-highest fixed top-0 sm:bottom-0 sm:right-0 sm:top-auto;
  @apply max-h-screen w-full md:max-w-md;
}

.toast {
  @apply pointer-events-auto relative transition-all;
  @apply flex-center-between;
  @apply border shadow-lg backdrop-blur-sm;
  @apply w-full overflow-hidden;
  @apply space-x-4 rounded-md p-4 pr-8;
  @apply data-[state=open]:animate-in data-[state=open]:slide-in-from-top-full sm:data-[state=open]:slide-in-from-bottom-full;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-80 data-[state=closed]:slide-out-to-right-full;
  @apply data-[swipe=end]:animate-out data-[swipe=end]:translate-x-(--radix-toast-swipe-end-x);
  @apply data-[swipe=move]:translate-x-(--radix-toast-swipe-move-x) data-[swipe=move]:transition-none;
  @apply data-[swipe=cancel]:translate-x-0;
}

.toast--default {
  --mix-color: var(--color-brand-primary);
  @apply border-brand-primary text-brand-primary;
}

.toast--danger {
  --mix-color: var(--color-brand-red);
  @apply border-brand-red text-brand-red;
}

.toast--warning {
  --mix-color: var(--color-brand-yellow);
  @apply border-brand-yellow text-brand-yellow;
}

.toast--success {
  --mix-color: var(--color-brand-green);
  @apply border-brand-green text-brand-green;
}

[data-equality-theme='dark'] .toast--default,
[data-equality-theme='dark'] .toast--danger,
[data-equality-theme='dark'] .toast--warning,
[data-equality-theme='dark'] .toast--success {
  --hover-darken: 50%;
  @apply bg-mixed-dark;
}

[data-equality-theme='light'] .toast--default,
[data-equality-theme='light'] .toast--danger,
[data-equality-theme='light'] .toast--warning,
[data-equality-theme='light'] .toast--success {
  --hover-lighten: 80%;
  @apply bg-mixed-light;
}

.toast-action {
  --mix-color: var(--color-button-secondary-fill);
  @apply h-7 rounded-md px-2;
  @apply text-xs;
  @apply rounded-md;
  @apply whitespace-nowrap text-sm font-medium;
  @apply transition-all duration-300;
  @apply flex-center gap-1;
  @apply cursor-pointer;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
  @apply [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;
  @apply focus-ring;
  @apply bg-(--mix-color);
  @apply border-button-secondary-border border;
  @apply text-button-secondary-text;
}

[data-equality-theme='dark'] .toast-action {
  --hover-darken: var(--hover-darken);
  @apply hover:not-disabled:bg-mixed-dark;
}

[data-equality-theme='light'] .toast-action {
  --hover-lighten: var(--hover-lighten);
  @apply hover:not-disabled:bg-mixed-light;
}

.toast-close {
  @apply text-inherit transition-colors;
  @apply rounded-md;
  @apply p-1;
  @apply absolute right-2 top-2;
  @apply focus-ring;
  @apply hover:text-text-primary;
}

.toast-close-icon {
  @apply size-4;
}

.toast-title {
  @apply text-sm font-semibold;
}

.toast-description {
  @apply text-text-secondary text-sm;
}
