@import '../../theme/theme.module.css';

.info-card-content {
  @apply flex items-center gap-3;
}

.copy-container {
  @apply flex-1;
}

.label {
  @apply text-muted-foreground text-xs;
}

.description {
  @apply text-foreground text-sm font-semibold;
}
