@reference '../../theme/theme.module.css';

.selector-button {
  @apply min-w-32;
  @apply flex justify-between;
}

.selector-button-content {
  @apply flex w-full items-center gap-1 truncate;
}

.chevron-icon {
  @apply text-text-secondary;
}

.dropdown-menu-content {
  @apply max-h-80 w-56 overflow-auto;
}
