@reference '../../theme/theme.module.css';

.page-not-found {
  @apply flex-center;
  @apply px-8 py-16;
  @apply text-text-primary;
}

.page-not-found-inner {
  @apply max-w-xl;
  @apply space-y-6 px-4;
  @apply text-center;
}

.icon-container {
  @apply bg-yellow-800 text-yellow-400;
  @apply flex-center;
  @apply mx-auto size-20 rounded-full;
}

.alert-icon {
  @apply size-10;
}

.title {
  @apply text-3xl font-semibold sm:text-4xl;
}

.description {
  @apply text-text-secondary;
}

.actions {
  @apply flex flex-col items-center justify-center gap-3 sm:flex-row;
  @apply pt-2;
}

.home-icon {
  @apply size-4;
}
