@reference '../../theme/theme.module.css';

.h1 {
  @apply text-4xl font-bold;
}

.h2 {
  @apply text-2xl font-semibold;
}

.h3 {
  @apply text-xl font-medium;
}

.h4 {
  @apply text-lg font-medium;
}

.h5 {
  @apply text-base font-medium;
}

.h6 {
  @apply text-sm font-medium;
}
