@reference '../../theme/theme.module.css';

.checkbox {
  @apply size-4 shrink-0;
  @apply border-text-primary rounded-sm border;
  @apply data-[state=checked]:bg-text-primary data-[state=checked]:text-background;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
  @apply focus-ring;
}

.indicator {
  @apply flex-center;
  @apply text-current;
}

.check {
  @apply size-4;
}
