@reference '../../theme/theme.css';

.checkbox {
  @apply shrink-0;
  @apply border-text-primary rounded-sm border;
  @apply data-[state=checked]:bg-text-primary data-[state=checked]:text-background;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
  @apply focus-ring;
}

.indicator {
  @apply flex-center;
  @apply text-current;
}

.checkbox.sm {
  @apply size-3.5;
}

.checkbox.md {
  @apply size-4;
}

.check {
  @apply size-full;
}
