@import '../../theme/theme.module.css';

.container {
  @apply bg-foreground/10 text-foreground;
  @apply size-9 rounded-full;
  @apply flex shrink-0 items-center justify-center;
}

.icon {
  @apply size-5;
}
