html[data-equality-theme='dark'] {
  color-scheme: dark;
  --color-background-secondary: color(display-p3 0.1792 0.1792 0.1792);
  --color-background: color(display-p3 0.03547 0.03547 0.04268);
  --color-badge-background-accepted: color(display-p3 0.2473 0.1645 0.5241);
  --color-badge-background-comment: color(display-p3 0.2473 0.1645 0.5241);
  --color-badge-background-compliant: color(display-p3 0.1689 0.3045 0.136);
  --color-badge-background-danger: color(display-p3 0.4113 0.1505 0.1319);
  --color-badge-background-in-progress: color(display-p3 0.4118 0.2185 0.1135);
  --color-badge-background-in-review: color(display-p3 0.2473 0.1645 0.5241);
  --color-badge-background-neutral: color(display-p3 0.2806 0.2806 0.2806);
  --color-badge-background-non-compliant: color(display-p3 0.4113 0.1505 0.1319);
  --color-badge-background-not-applicable: color(display-p3 0.2806 0.2806 0.2806);
  --color-badge-background-not-started: color(display-p3 0.2806 0.2806 0.2806);
  --color-badge-background-primary: color(display-p3 0.2473 0.1645 0.5241);
  --color-badge-background-question: color(display-p3 0.2473 0.1645 0.5241);
  --color-badge-background-ready-for-review: color(display-p3 0.1442 0.2013 0.4303);
  --color-badge-background-success: color(display-p3 0.1689 0.3045 0.136);
  --color-badge-background-warning: color(display-p3 0.4487 0.322 0.1436);
  --color-badge-text-accepted: color(display-p3 0.795 0.7755 0.9866);
  --color-badge-text-comment: color(display-p3 0.795 0.7755 0.9866);
  --color-badge-text-compliant: color(display-p3 0.7403 0.8486 0.7417);
  --color-badge-text-danger: color(display-p3 0.9358 0.751 0.7228);
  --color-badge-text-in-progress: color(display-p3 0.9272 0.788 0.7058);
  --color-badge-text-in-review: color(display-p3 0.795 0.7755 0.9866);
  --color-badge-text-neutral: color(display-p3 0.8698 0.8698 0.8698);
  --color-badge-text-non-compliant: color(display-p3 0.9358 0.751 0.7228);
  --color-badge-text-not-applicable: color(display-p3 0.8698 0.8698 0.8698);
  --color-badge-text-not-started: color(display-p3 0.8698 0.8698 0.8698);
  --color-badge-text-primary: color(display-p3 0.795 0.7755 0.9866);
  --color-badge-text-question: color(display-p3 0.795 0.7755 0.9866);
  --color-badge-text-ready-for-review: color(display-p3 0.7289 0.7853 0.9401);
  --color-badge-text-success: color(display-p3 0.8698 0.8698 0.8698);
  --color-badge-text-warning: color(display-p3 0.9327 0.8528 0.7204);
  --color-border: color(display-p3 0.1792 0.1792 0.1792);
  --color-button-danger-border: color(display-p3 0.7365 0.2216 0.2026);
  --color-button-danger-fill: color(display-p3 0.8114 0.4167 0.3761);
  --color-button-primary-border: color(display-p3 0.6266 0.4562 0.8302);
  --color-button-primary-fill: color(display-p3 0.6266 0.4562 0.8302);
  --color-button-secondary-border: color(display-p3 1 1 1);
  --color-button-secondary-fill: color(display-p3 1 1 1);
  --color-button-secondary-text: color(display-p3 0 0 0);
  --color-button-tertiary-border: color(display-p3 0.2806 0.2806 0.2806);
  --color-button-tertiary-fill: color(display-p3 0 0 0);
  --color-button-tertiary-text: color(display-p3 1 1 1);
  --color-card-background: color(display-p3 0.0861 0.0861 0.0861);
  --color-card-border: color(display-p3 0.1792 0.1792 0.1792);
  --color-focus-ring: color(display-p3 0.7319 0.6108 0.8873);
  --color-popover-background: color(display-p3 0.03547 0.03547 0.04268);
  --color-resource-background-agent: color(display-p3 0.1475 0.2946 0.2434);
  --color-resource-background-benchmark: color(display-p3 0.2598 0.1437 0.07482);
  --color-resource-background-code: color(display-p3 0.6137 0.3942 0.177);
  --color-resource-background-compute: color(display-p3 0.4487 0.322 0.1436);
  --color-resource-background-context: color(display-p3 0.1394 0.2691 0.3776);
  --color-resource-background-database: color(display-p3 0.2473 0.1645 0.5241);
  --color-resource-background-dataset: color(display-p3 0.2473 0.1645 0.5241);
  --color-resource-background-document: color(display-p3 0.5752 0.2954 0.1593);
  --color-resource-background-guard: color(display-p3 0.2598 0.1437 0.07482);
  --color-resource-background-guardrail: color(display-p3 0.2598 0.1437 0.07482);
  --color-resource-background-inference: color(display-p3 0.1689 0.3045 0.136);
  --color-resource-background-model: color(display-p3 0.1442 0.2013 0.4303);
  --color-resource-background-prompt: color(display-p3 0.1394 0.2691 0.3776);
  --color-resource-background-reasoning: color(display-p3 0.1394 0.2691 0.3776);
  --color-resource-background-system-parameters: color(display-p3 0.6137 0.3942 0.177);
  --color-resource-background-system-prompt: color(display-p3 0.1394 0.2691 0.3776);
  --color-resource-background-token: color(display-p3 0.2534 0.2782 0.09737);
  --color-resource-background-tools: color(display-p3 0.4113 0.1505 0.1319);
  --color-resource-background-unknown: color(display-p3 0.2806 0.2806 0.2806);
  --color-resource-text-agent: color(display-p3 0.7135 0.8482 0.7942);
  --color-resource-text-benchmark: color(display-p3 0.8711 0.6538 0.5378);
  --color-resource-text-code: color(display-p3 0.9376 0.8222 0.7184);
  --color-resource-text-compute: color(display-p3 0.9327 0.8528 0.7204);
  --color-resource-text-context: color(display-p3 0.7072 0.8271 0.9059);
  --color-resource-text-database: color(display-p3 0.795 0.7755 0.9866);
  --color-resource-text-dataset: color(display-p3 0.795 0.7755 0.9866);
  --color-resource-text-document: color(display-p3 0.9272 0.788 0.7058);
  --color-resource-text-guard: color(display-p3 0.8711 0.6538 0.5378);
  --color-resource-text-guardrail: color(display-p3 0.8711 0.6538 0.5378);
  --color-resource-text-inference: color(display-p3 0.7403 0.8486 0.7417);
  --color-resource-text-model: color(display-p3 0.7289 0.7853 0.9401);
  --color-resource-text-prompt: color(display-p3 0.7072 0.8271 0.9059);
  --color-resource-text-reasoning: color(display-p3 0.7072 0.8271 0.9059);
  --color-resource-text-system-parameters: color(display-p3 0.9376 0.8222 0.7184);
  --color-resource-text-system-prompt: color(display-p3 0.7072 0.8271 0.9059);
  --color-resource-text-token: color(display-p3 0.8033 0.8266 0.7044);
  --color-resource-text-tools: color(display-p3 0.9358 0.751 0.7228);
  --color-resource-text-unknown: color(display-p3 0.8698 0.8698 0.8698);
  --color-text-link: color(display-p3 0.7319 0.6108 0.8873);
  --color-text-primary: color(display-p3 1 1 1);
  --color-text-secondary: color(display-p3 0.7432 0.7432 0.7432);
  --color-text-tertiary: color(display-p3 0.5021 0.5021 0.5021);
}
