.root {
  --hover-lighten: 20%;
  --hover-darken: 20%;

  --color-amber-100: color(display-p3 0.9767 0.9238 0.8764);
  --color-amber-200: color(display-p3 0.9376 0.8222 0.7184);
  --color-amber-300: color(display-p3 0.896 0.7203 0.5608);
  --color-amber-400: color(display-p3 0.8518 0.6176 0.3997);
  --color-amber-500: color(display-p3 0.805 0.5129 0.2188);
  --color-amber-600: color(display-p3 0.6137 0.3942 0.177);
  --color-amber-700: color(display-p3 0.4327 0.2812 0.1347);
  --color-amber-800: color(display-p3 0.2643 0.1753 0.09139);
  --color-amber-900: color(display-p3 0.1121 0.07777 0.04646);
  --color-background: color(display-p3 0.9738 0.9799 0.9872);
  --color-badge-background-accepted: color(display-p3 0.795 0.7755 0.9866);
  --color-badge-background-comment: color(display-p3 0.795 0.7755 0.9866);
  --color-badge-background-compliant: color(display-p3 0.7403 0.8486 0.7417);
  --color-badge-background-danger: color(display-p3 0.9358 0.751 0.7228);
  --color-badge-background-in-progress: color(display-p3 0.9272 0.788 0.7058);
  --color-badge-background-in-review: color(display-p3 0.795 0.7755 0.9866);
  --color-badge-background-neutral: color(display-p3 0.8698 0.8698 0.8698);
  --color-badge-background-non-compliant: color(display-p3 0.9358 0.751 0.7228);
  --color-badge-background-not-applicable: color(display-p3 0.8698 0.8698 0.8698);
  --color-badge-background-not-started: color(display-p3 0.8698 0.8698 0.8698);
  --color-badge-background-primary: color(display-p3 0.795 0.7755 0.9866);
  --color-badge-background-question: color(display-p3 0.795 0.7755 0.9866);
  --color-badge-background-ready-for-review: color(display-p3 0.7289 0.7853 0.9401);
  --color-badge-background-success: color(display-p3 0.7403 0.8486 0.7417);
  --color-badge-background-warning: color(display-p3 0.9327 0.8528 0.7204);
  --color-badge-text-accepted: color(display-p3 0.1608 0.1145 0.3417);
  --color-badge-text-comment: color(display-p3 0.1608 0.1145 0.3417);
  --color-badge-text-compliant: color(display-p3 0.1097 0.1998 0.08667);
  --color-badge-text-danger: color(display-p3 0.2625 0.1106 0.09605);
  --color-badge-text-in-progress: color(display-p3 0.2598 0.1437 0.07482);
  --color-badge-text-in-review: color(display-p3 0.1608 0.1145 0.3417);
  --color-badge-text-neutral: color(display-p3 0.1792 0.1792 0.1792);
  --color-badge-text-non-compliant: color(display-p3 0.2625 0.1106 0.09605);
  --color-badge-text-not-applicable: color(display-p3 0.1792 0.1792 0.1792);
  --color-badge-text-not-started: color(display-p3 0.1792 0.1792 0.1792);
  --color-badge-text-primary: color(display-p3 0.1608 0.1145 0.3417);
  --color-badge-text-question: color(display-p3 0.1608 0.1145 0.3417);
  --color-badge-text-ready-for-review: color(display-p3 0.1017 0.1411 0.2832);
  --color-badge-text-success: color(display-p3 0.1097 0.1998 0.08667);
  --color-badge-text-warning: color(display-p3 0.2723 0.1933 0.09642);
  --color-black: color(display-p3 0 0 0);
  --color-blue-100: color(display-p3 0.9115 0.9345 0.994);
  --color-blue-200: color(display-p3 0.7289 0.7853 0.9401);
  --color-blue-300: color(display-p3 0.5545 0.6362 0.8816);
  --color-blue-400: color(display-p3 0.3895 0.4853 0.8187);
  --color-blue-500: color(display-p3 0.2366 0.3261 0.7513);
  --color-blue-600: color(display-p3 0.1892 0.2629 0.5868);
  --color-blue-700: color(display-p3 0.1442 0.2013 0.4303);
  --color-blue-800: color(display-p3 0.1017 0.1411 0.2832);
  --color-blue-900: color(display-p3 0.06177 0.08243 0.1475);
  --color-border: color(display-p3 0.8698 0.8698 0.8698);
  --color-brand-green: color(display-p3 0.4374 0.6383 0.4134);
  --color-brand-primary: color(display-p3 0.7319 0.6108 0.8873);
  --color-brand-red: color(display-p3 0.8114 0.4167 0.3761);
  --color-brand-secondary: color(display-p3 0.3895 0.4853 0.8187);
  --color-brand-yellow: color(display-p3 0.863 0.6958 0.4108);
  --color-button-danger-border: color(display-p3 0.5698 0.1873 0.1674);
  --color-button-danger-fill: color(display-p3 0.7365 0.2216 0.2026);
  --color-button-danger-text: color(display-p3 1 1 1);
  --color-button-primary-border: color(display-p3 0.5242 0.2903 0.7705);
  --color-button-primary-fill: color(display-p3 0.5242 0.2903 0.7705);
  --color-button-primary-text: color(display-p3 1 1 1);
  --color-button-secondary-border: color(display-p3 0.0861 0.0861 0.0861);
  --color-button-secondary-fill: color(display-p3 0.0861 0.0861 0.0861);
  --color-button-secondary-text: color(display-p3 1 1 1);
  --color-button-tertiary-border: color(display-p3 0.7432 0.7432 0.7432);
  --color-button-tertiary-fill: color(display-p3 1 1 1);
  --color-button-tertiary-text: color(display-p3 0 0 0);
  --color-card-background: color(display-p3 1 1 1);
  --color-card-border: color(display-p3 0.8698 0.8698 0.8698);
  --color-cyan-100: color(display-p3 0.8736 0.9466 0.9942);
  --color-cyan-200: color(display-p3 0.7072 0.8271 0.9059);
  --color-cyan-300: color(display-p3 0.5438 0.7094 0.8183);
  --color-cyan-400: color(display-p3 0.381 0.5932 0.7315);
  --color-cyan-500: color(display-p3 0.2084 0.4784 0.6451);
  --color-cyan-600: color(display-p3 0.1767 0.3704 0.5098);
  --color-cyan-700: color(display-p3 0.1394 0.2691 0.3776);
  --color-cyan-800: color(display-p3 0.09755 0.1752 0.2506);
  --color-cyan-900: color(display-p3 0.05266 0.08974 0.1315);
  --color-emerald-100: color(display-p3 0.902 0.9535 0.9056);
  --color-emerald-200: color(display-p3 0.7403 0.8486 0.7417);
  --color-emerald-300: color(display-p3 0.5855 0.7436 0.5779);
  --color-emerald-400: color(display-p3 0.4374 0.6383 0.4134);
  --color-emerald-500: color(display-p3 0.2946 0.5328 0.2433);
  --color-emerald-600: color(display-p3 0.2307 0.4158 0.1882);
  --color-emerald-700: color(display-p3 0.1689 0.3045 0.136);
  --color-emerald-800: color(display-p3 0.1097 0.1998 0.08667);
  --color-emerald-900: color(display-p3 0.05386 0.1032 0.04065);
  --color-focus-ring: color(display-p3 0.5242 0.2903 0.7705);
  --color-fuschia-100: color(display-p3 0.9669 0.9118 0.9757);
  --color-fuschia-200: color(display-p3 0.8859 0.7455 0.9086);
  --color-fuschia-300: color(display-p3 0.8027 0.5791 0.8394);
  --color-fuschia-400: color(display-p3 0.7171 0.4076 0.7681);
  --color-fuschia-500: color(display-p3 0.6289 0.209 0.6944);
  --color-fuschia-600: color(display-p3 0.4907 0.1701 0.542);
  --color-fuschia-700: color(display-p3 0.3593 0.1309 0.3967);
  --color-fuschia-800: color(display-p3 0.2359 0.0912 0.2602);
  --color-fuschia-900: color(display-p3 0.1221 0.05054 0.1344);
  --color-greyscale-100: color(display-p3 1 1 1);
  --color-greyscale-200: color(display-p3 0.8698 0.8698 0.8698);
  --color-greyscale-300: color(display-p3 0.7432 0.7432 0.7432);
  --color-greyscale-400: color(display-p3 0.6205 0.6205 0.6205);
  --color-greyscale-500: color(display-p3 0.5021 0.5021 0.5021);
  --color-greyscale-600: color(display-p3 0.3886 0.3886 0.3886);
  --color-greyscale-700: color(display-p3 0.2806 0.2806 0.2806);
  --color-greyscale-800: color(display-p3 0.1792 0.1792 0.1792);
  --color-greyscale-900: color(display-p3 0.0861 0.0861 0.0861);
  --color-lilac-100: color(display-p3 0.9492 0.917 0.9935);
  --color-lilac-200: color(display-p3 0.8396 0.7634 0.9416);
  --color-lilac-300: color(display-p3 0.7319 0.6108 0.8873);
  --color-lilac-400: color(display-p3 0.6266 0.4562 0.8302);
  --color-lilac-500: color(display-p3 0.5242 0.2903 0.7705);
  --color-lilac-600: color(display-p3 0.4045 0.2306 0.6077);
  --color-lilac-700: color(display-p3 0.2927 0.172 0.4505);
  --color-lilac-800: color(display-p3 0.1898 0.115 0.3008);
  --color-lilac-900: color(display-p3 0.09683 0.05998 0.1612);
  --color-olive-100: color(display-p3 0.9314 0.9449 0.8779);
  --color-olive-200: color(display-p3 0.8033 0.8266 0.7044);
  --color-olive-300: color(display-p3 0.6792 0.7106 0.5351);
  --color-olive-400: color(display-p3 0.5596 0.5967 0.3684);
  --color-olive-500: color(display-p3 0.4451 0.4851 0.1956);
  --color-olive-600: color(display-p3 0.3469 0.3792 0.1453);
  --color-olive-700: color(display-p3 0.2534 0.2782 0.09737);
  --color-olive-800: color(display-p3 0.1652 0.183 0.0523);
  --color-olive-900: color(display-p3 0.08365 0.09501 0.01653);
  --color-orange-100: color(display-p3 0.9808 0.9208 0.8819);
  --color-orange-200: color(display-p3 0.9272 0.788 0.7058);
  --color-orange-300: color(display-p3 0.8711 0.6538 0.5378);
  --color-orange-400: color(display-p3 0.8118 0.517 0.3762);
  --color-orange-500: color(display-p3 0.7481 0.374 0.214);
  --color-orange-600: color(display-p3 0.5752 0.2954 0.1593);
  --color-orange-700: color(display-p3 0.4118 0.2185 0.1135);
  --color-orange-800: color(display-p3 0.2598 0.1437 0.07482);
  --color-orange-900: color(display-p3 0.1219 0.07196 0.04009);
  --color-popover-background: color(display-p3 0.9738 0.9799 0.9872);
  --color-purple-100: color(display-p3 0.9305 0.9259 0.9937);
  --color-purple-200: color(display-p3 0.795 0.7755 0.9866);
  --color-purple-300: color(display-p3 0.6663 0.622 0.9719);
  --color-purple-400: color(display-p3 0.5463 0.4591 0.9504);
  --color-purple-500: color(display-p3 0.4378 0.2639 0.9228);
  --color-purple-600: color(display-p3 0.3399 0.2142 0.7184);
  --color-purple-700: color(display-p3 0.2473 0.1645 0.5241);
  --color-purple-800: color(display-p3 0.1608 0.1145 0.3417);
  --color-purple-900: color(display-p3 0.08163 0.06381 0.1746);
  --color-red-100: color(display-p3 0.9851 0.9151 0.9036);
  --color-red-200: color(display-p3 0.9358 0.751 0.7228);
  --color-red-300: color(display-p3 0.8779 0.5865 0.5474);
  --color-red-400: color(display-p3 0.8114 0.4167 0.3761);
  --color-red-500: color(display-p3 0.7365 0.2216 0.2026);
  --color-red-600: color(display-p3 0.5698 0.1873 0.1674);
  --color-red-700: color(display-p3 0.4113 0.1505 0.1319);
  --color-red-800: color(display-p3 0.2625 0.1106 0.09605);
  --color-red-900: color(display-p3 0.1251 0.06706 0.05944);
  --color-resource-agent: color(display-p3 0.2615 0.5132 0.4268);
  --color-resource-background-agent: color(display-p3 0.7135 0.8482 0.7942);
  --color-resource-background-benchmark: color(display-p3 0.8711 0.6538 0.5378);
  --color-resource-background-code: color(display-p3 0.9376 0.8222 0.7184);
  --color-resource-background-compute: color(display-p3 0.9327 0.8528 0.7204);
  --color-resource-background-database: color(display-p3 0.795 0.7755 0.9866);
  --color-resource-background-dataset: color(display-p3 0.795 0.7755 0.9866);
  --color-resource-background-document: color(display-p3 0.9272 0.788 0.7058);
  --color-resource-background-guard: color(display-p3 0.8711 0.6538 0.5378);
  --color-resource-background-inference: color(display-p3 0.7403 0.8486 0.7417);
  --color-resource-background-model: color(display-p3 0.7289 0.7853 0.9401);
  --color-resource-background-prompt: color(display-p3 0.7072 0.8271 0.9059);
  --color-resource-background-token: color(display-p3 0.8033 0.8266 0.7044);
  --color-resource-background-tools: color(display-p3 0.9358 0.751 0.7228);
  --color-resource-background-unknown: color(display-p3 0.8698 0.8698 0.8698);
  --color-resource-benchmark: color(display-p3 0.4118 0.2185 0.1135);
  --color-resource-code: color(display-p3 0.805 0.5129 0.2188);
  --color-resource-compute: color(display-p3 0.8263 0.6154 0.2247);
  --color-resource-database: color(display-p3 0.4378 0.2639 0.9228);
  --color-resource-dataset: color(display-p3 0.4378 0.2639 0.9228);
  --color-resource-document: color(display-p3 0.7481 0.374 0.214);
  --color-resource-guard: color(display-p3 0.4118 0.2185 0.1135);
  --color-resource-inference: color(display-p3 0.2946 0.5328 0.2433);
  --color-resource-model: color(display-p3 0.2366 0.3261 0.7513);
  --color-resource-prompt: color(display-p3 0.2084 0.4784 0.6451);
  --color-resource-text-agent: color(display-p3 0.09443 0.1941 0.159);
  --color-resource-text-benchmark: color(display-p3 0.2598 0.1437 0.07482);
  --color-resource-text-code: color(display-p3 0.2643 0.1753 0.09139);
  --color-resource-text-compute: color(display-p3 0.2723 0.1933 0.09642);
  --color-resource-text-database: color(display-p3 0.1608 0.1145 0.3417);
  --color-resource-text-dataset: color(display-p3 0.1608 0.1145 0.3417);
  --color-resource-text-document: color(display-p3 0.2598 0.1437 0.07482);
  --color-resource-text-guard: color(display-p3 0.2598 0.1437 0.07482);
  --color-resource-text-inference: color(display-p3 0.1097 0.1998 0.08667);
  --color-resource-text-model: color(display-p3 0.1017 0.1411 0.2832);
  --color-resource-text-prompt: color(display-p3 0.09755 0.1752 0.2506);
  --color-resource-text-token: color(display-p3 0.1652 0.183 0.0523);
  --color-resource-text-tools: color(display-p3 0.2625 0.1106 0.09605);
  --color-resource-text-unknown: color(display-p3 0.1792 0.1792 0.1792);
  --color-resource-token: color(display-p3 0.4451 0.4851 0.1956);
  --color-resource-tools: color(display-p3 0.7365 0.2216 0.2026);
  --color-resource-unknown: color(display-p3 0.5021 0.5021 0.5021);
  --color-teal-100: color(display-p3 0.8678 0.9647 0.925);
  --color-teal-200: color(display-p3 0.7135 0.8482 0.7942);
  --color-teal-300: color(display-p3 0.5624 0.734 0.6673);
  --color-teal-400: color(display-p3 0.4132 0.6223 0.5447);
  --color-teal-500: color(display-p3 0.2615 0.5132 0.4268);
  --color-teal-600: color(display-p3 0.2033 0.4012 0.3329);
  --color-teal-700: color(display-p3 0.1475 0.2946 0.2434);
  --color-teal-800: color(display-p3 0.09443 0.1941 0.159);
  --color-teal-900: color(display-p3 0.04463 0.1013 0.08089);
  --color-text-primary: color(display-p3 0 0 0);
  --color-text-secondary: color(display-p3 0.1792 0.1792 0.1792);
  --color-text-tertiary: color(display-p3 0.5021 0.5021 0.5021);
  --color-white: color(display-p3 1 1 1);
  --color-yellow-100: color(display-p3 0.966 0.9299 0.8701);
  --color-yellow-200: color(display-p3 0.9327 0.8528 0.7204);
  --color-yellow-300: color(display-p3 0.8984 0.7748 0.5691);
  --color-yellow-400: color(display-p3 0.863 0.6958 0.4108);
  --color-yellow-500: color(display-p3 0.8263 0.6154 0.2247);
  --color-yellow-600: color(display-p3 0.6345 0.463 0.1863);
  --color-yellow-700: color(display-p3 0.4487 0.322 0.1436);
  --color-yellow-800: color(display-p3 0.2723 0.1933 0.09642);
  --color-yellow-900: color(display-p3 0.1107 0.07879 0.04484);
}
