@theme static {
  --color-mixed-light: color-mix(in oklch, var(--mix-color), white var(--hover-lighten, 20%));
  --color-mixed-dark: color-mix(in oklch, var(--mix-color), black var(--hover-darken, 20%));

  --color-amber-100: var(--color-amber-100);
  --color-amber-200: var(--color-amber-200);
  --color-amber-300: var(--color-amber-300);
  --color-amber-400: var(--color-amber-400);
  --color-amber-500: var(--color-amber-500);
  --color-amber-600: var(--color-amber-600);
  --color-amber-700: var(--color-amber-700);
  --color-amber-800: var(--color-amber-800);
  --color-amber-900: var(--color-amber-900);
  --color-background: var(--color-background);
  --color-badge-background-accepted: var(--color-badge-background-accepted);
  --color-badge-background-comment: var(--color-badge-background-comment);
  --color-badge-background-compliant: var(--color-badge-background-compliant);
  --color-badge-background-danger: var(--color-badge-background-danger);
  --color-badge-background-in-progress: var(--color-badge-background-in-progress);
  --color-badge-background-in-review: var(--color-badge-background-in-review);
  --color-badge-background-neutral: var(--color-badge-background-neutral);
  --color-badge-background-non-compliant: var(--color-badge-background-non-compliant);
  --color-badge-background-not-applicable: var(--color-badge-background-not-applicable);
  --color-badge-background-not-started: var(--color-badge-background-not-started);
  --color-badge-background-primary: var(--color-badge-background-primary);
  --color-badge-background-question: var(--color-badge-background-question);
  --color-badge-background-ready-for-review: var(--color-badge-background-ready-for-review);
  --color-badge-background-success: var(--color-badge-background-success);
  --color-badge-background-warn: var(--color-badge-background-warn);
  --color-badge-text-accepted: var(--color-badge-text-accepted);
  --color-badge-text-comment: var(--color-badge-text-comment);
  --color-badge-text-compliant: var(--color-badge-text-compliant);
  --color-badge-text-danger: var(--color-badge-text-danger);
  --color-badge-text-in-progress: var(--color-badge-text-in-progress);
  --color-badge-text-in-review: var(--color-badge-text-in-review);
  --color-badge-text-neutral: var(--color-badge-text-neutral);
  --color-badge-text-non-compliant: var(--color-badge-text-non-compliant);
  --color-badge-text-not-applicable: var(--color-badge-text-not-applicable);
  --color-badge-text-not-started: var(--color-badge-text-not-started);
  --color-badge-text-primary: var(--color-badge-text-primary);
  --color-badge-text-question: var(--color-badge-text-question);
  --color-badge-text-ready-for-review: var(--color-badge-text-ready-for-review);
  --color-badge-text-success: var(--color-badge-text-success);
  --color-badge-text-warn: var(--color-badge-text-warn);
  --color-black: var(--color-black);
  --color-blue-100: var(--color-blue-100);
  --color-blue-200: var(--color-blue-200);
  --color-blue-300: var(--color-blue-300);
  --color-blue-400: var(--color-blue-400);
  --color-blue-500: var(--color-blue-500);
  --color-blue-600: var(--color-blue-600);
  --color-blue-700: var(--color-blue-700);
  --color-blue-800: var(--color-blue-800);
  --color-blue-900: var(--color-blue-900);
  --color-border: var(--color-border);
  --color-brand-gold: var(--color-brand-gold);
  --color-brand-green: var(--color-brand-green);
  --color-brand-primary: var(--color-brand-primary);
  --color-brand-red: var(--color-brand-red);
  --color-brand-secondary: var(--color-brand-secondary);
  --color-button-danger-border: var(--color-button-danger-border);
  --color-button-danger-fill: var(--color-button-danger-fill);
  --color-button-danger-text: var(--color-button-danger-text);
  --color-button-primary-border: var(--color-button-primary-border);
  --color-button-primary-fill: var(--color-button-primary-fill);
  --color-button-primary-text: var(--color-button-primary-text);
  --color-button-secondary-border: var(--color-button-secondary-border);
  --color-button-secondary-fill: var(--color-button-secondary-fill);
  --color-button-secondary-text: var(--color-button-secondary-text);
  --color-button-tertiary-border: var(--color-button-tertiary-border);
  --color-button-tertiary-fill: var(--color-button-tertiary-fill);
  --color-button-tertiary-text: var(--color-button-tertiary-text);
  --color-card-background: var(--color-card-background);
  --color-card-border: var(--color-card-border);
  --color-cyan-100: var(--color-cyan-100);
  --color-cyan-200: var(--color-cyan-200);
  --color-cyan-300: var(--color-cyan-300);
  --color-cyan-400: var(--color-cyan-400);
  --color-cyan-500: var(--color-cyan-500);
  --color-cyan-600: var(--color-cyan-600);
  --color-cyan-700: var(--color-cyan-700);
  --color-cyan-800: var(--color-cyan-800);
  --color-cyan-900: var(--color-cyan-900);
  --color-emerald-100: var(--color-emerald-100);
  --color-emerald-200: var(--color-emerald-200);
  --color-emerald-300: var(--color-emerald-300);
  --color-emerald-400: var(--color-emerald-400);
  --color-emerald-500: var(--color-emerald-500);
  --color-emerald-600: var(--color-emerald-600);
  --color-emerald-700: var(--color-emerald-700);
  --color-emerald-800: var(--color-emerald-800);
  --color-emerald-900: var(--color-emerald-900);
  --color-focus-ring: var(--color-focus-ring);
  --color-fuschia-100: var(--color-fuschia-100);
  --color-fuschia-200: var(--color-fuschia-200);
  --color-fuschia-300: var(--color-fuschia-300);
  --color-fuschia-400: var(--color-fuschia-400);
  --color-fuschia-500: var(--color-fuschia-500);
  --color-fuschia-600: var(--color-fuschia-600);
  --color-fuschia-700: var(--color-fuschia-700);
  --color-fuschia-800: var(--color-fuschia-800);
  --color-fuschia-900: var(--color-fuschia-900);
  --color-greyscale-100: var(--color-greyscale-100);
  --color-greyscale-200: var(--color-greyscale-200);
  --color-greyscale-300: var(--color-greyscale-300);
  --color-greyscale-400: var(--color-greyscale-400);
  --color-greyscale-500: var(--color-greyscale-500);
  --color-greyscale-600: var(--color-greyscale-600);
  --color-greyscale-700: var(--color-greyscale-700);
  --color-greyscale-800: var(--color-greyscale-800);
  --color-greyscale-900: var(--color-greyscale-900);
  --color-lilac-100: var(--color-lilac-100);
  --color-lilac-200: var(--color-lilac-200);
  --color-lilac-300: var(--color-lilac-300);
  --color-lilac-400: var(--color-lilac-400);
  --color-lilac-500: var(--color-lilac-500);
  --color-lilac-600: var(--color-lilac-600);
  --color-lilac-700: var(--color-lilac-700);
  --color-lilac-800: var(--color-lilac-800);
  --color-lilac-900: var(--color-lilac-900);
  --color-olive-100: var(--color-olive-100);
  --color-olive-200: var(--color-olive-200);
  --color-olive-300: var(--color-olive-300);
  --color-olive-400: var(--color-olive-400);
  --color-olive-500: var(--color-olive-500);
  --color-olive-600: var(--color-olive-600);
  --color-olive-700: var(--color-olive-700);
  --color-olive-800: var(--color-olive-800);
  --color-olive-900: var(--color-olive-900);
  --color-orange-100: var(--color-orange-100);
  --color-orange-200: var(--color-orange-200);
  --color-orange-300: var(--color-orange-300);
  --color-orange-400: var(--color-orange-400);
  --color-orange-500: var(--color-orange-500);
  --color-orange-600: var(--color-orange-600);
  --color-orange-700: var(--color-orange-700);
  --color-orange-800: var(--color-orange-800);
  --color-orange-900: var(--color-orange-900);
  --color-popover-background: var(--color-popover-background);
  --color-purple-100: var(--color-purple-100);
  --color-purple-200: var(--color-purple-200);
  --color-purple-300: var(--color-purple-300);
  --color-purple-400: var(--color-purple-400);
  --color-purple-500: var(--color-purple-500);
  --color-purple-600: var(--color-purple-600);
  --color-purple-700: var(--color-purple-700);
  --color-purple-800: var(--color-purple-800);
  --color-purple-900: var(--color-purple-900);
  --color-red-100: var(--color-red-100);
  --color-red-200: var(--color-red-200);
  --color-red-300: var(--color-red-300);
  --color-red-400: var(--color-red-400);
  --color-red-500: var(--color-red-500);
  --color-red-600: var(--color-red-600);
  --color-red-700: var(--color-red-700);
  --color-red-800: var(--color-red-800);
  --color-red-900: var(--color-red-900);
  --color-resource-agent: var(--color-resource-agent);
  --color-resource-benchmark: var(--color-resource-benchmark);
  --color-resource-code: var(--color-resource-code);
  --color-resource-compute: var(--color-resource-compute);
  --color-resource-database: var(--color-resource-database);
  --color-resource-dataset: var(--color-resource-dataset);
  --color-resource-document: var(--color-resource-document);
  --color-resource-guard: var(--color-resource-guard);
  --color-resource-inference: var(--color-resource-inference);
  --color-resource-model: var(--color-resource-model);
  --color-resource-prompt: var(--color-resource-prompt);
  --color-resource-token: var(--color-resource-token);
  --color-resource-tools: var(--color-resource-tools);
  --color-resource-unknown: var(--color-resource-unknown);
  --color-teal-100: var(--color-teal-100);
  --color-teal-200: var(--color-teal-200);
  --color-teal-300: var(--color-teal-300);
  --color-teal-400: var(--color-teal-400);
  --color-teal-500: var(--color-teal-500);
  --color-teal-600: var(--color-teal-600);
  --color-teal-700: var(--color-teal-700);
  --color-teal-800: var(--color-teal-800);
  --color-teal-900: var(--color-teal-900);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-tertiary: var(--color-text-tertiary);
  --color-white: var(--color-white);
  --color-yellow-100: var(--color-yellow-100);
  --color-yellow-200: var(--color-yellow-200);
  --color-yellow-300: var(--color-yellow-300);
  --color-yellow-400: var(--color-yellow-400);
  --color-yellow-500: var(--color-yellow-500);
  --color-yellow-600: var(--color-yellow-600);
  --color-yellow-700: var(--color-yellow-700);
  --color-yellow-800: var(--color-yellow-800);
  --color-yellow-900: var(--color-yellow-900);
}
