@reference '../../theme/theme.css';

.textarea {
  @apply flex;
  @apply px-3 py-2;
  @apply min-h-20 w-full rounded-md;
  @apply bg-background border-border border;
  @apply text-text-primary text-base md:text-sm;
  @apply placeholder:text-text-secondary;
  @apply focus-ring;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
}
