@reference '../../theme/theme.module.css';

.textarea {
  @apply flex;
  @apply px-3 py-2;
  @apply min-h-[80px] w-full rounded-md;
  @apply bg-background border-border ring-offset-background border;
  @apply text-text-primary text-base md:text-sm;
  @apply placeholder:text-muted-foreground;
  @apply focus-visible:ring-ring/70 focus-visible:outline-hidden focus-visible:ring-1 focus-visible:ring-offset-2;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
}
