@reference '../../theme/theme.module.css';

.selector-button-inner {
  @apply flex items-center gap-1;
  @apply capitalize;
}

.chevron-icon {
  @apply text-text-secondary;
}

.dropdown-menu-content {
  @apply max-h-80 w-56 min-w-36 overflow-auto;
}
