@import '../../theme/theme.module.css';

.command {
  @apply bg-popover text-popover-foreground;
  @apply size-full overflow-hidden rounded-md;
  @apply flex flex-col;
}

.command-dialog-header {
  @apply sr-only;
}

.command-dialog-content {
  @apply overflow-hidden p-0;
}

.command-dialog-content-inner {
  @apply data-[slot=command-input-wrapper]:**:h-12;
  @apply [&_[cmdk-input]]:h-12;
  @apply [&_[cmdk-item]]:px-2 [&_[cmdk-item]]:py-3 [&_[cmdk-item]_svg]:size-5;
  @apply [&_[cmdk-group-heading]]:text-muted-foreground;
  @apply [&_[cmdk-group-heading]]:px-2 [&_[cmdk-group-heading]]:font-medium;
  @apply [&_[cmdk-group]:not([hidden])_~[cmdk-group]]:pt-0 [&_[cmdk-group]]:px-2;
  @apply [&_[cmdk-input-wrapper]_svg]:size-5;
}

.command-input {
  @apply h-9 border-b px-3;
  @apply flex items-center gap-2;
}

.command-input-icon {
  @apply size-4 opacity-50;
  @apply shrink-0;
}

.command-input-input {
  @apply placeholder:text-muted-foreground text-sm;
  @apply outline-hidden rounded-md bg-transparent;
  @apply flex h-10 w-full py-3;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
}

.command-list {
  @apply max-h-[300px] scroll-py-1 overflow-y-auto;
  @apply overflow-x-hidden;
}

.command-empty {
  @apply text-center text-sm;
  @apply py-6;
}

.command-group {
  @apply text-foreground;
  @apply overflow-hidden p-1;
  @apply [&_[cmdk-group-heading]]:text-muted-foreground [&_[cmdk-group-heading]]:text-xs [&_[cmdk-group-heading]]:font-medium;
  @apply [&_[cmdk-group-heading]]:px-2 [&_[cmdk-group-heading]]:py-1.5;
}

.command-separator {
  @apply bg-border;
  @apply -mx-1 h-px;
}

.command-item {
  @apply outline-hidden rounded-sm;
  @apply text-sm;
  @apply flex items-center gap-2;
  @apply relative px-2 py-1.5;
  @apply cursor-default select-none;
  @apply [&_svg:not([class*='text-'])]:text-muted-foreground [&_svg:not([class*='size-'])]:size-4 [&_svg]:pointer-events-none [&_svg]:shrink-0;
  @apply data-[disabled=true]:pointer-events-none data-[disabled=true]:opacity-50;
  @apply data-[selected=true]:bg-accent data-[selected=true]:text-accent-foreground;
}

.command-shortcut {
  @apply text-muted-foreground text-xs tracking-widest;
  @apply ml-auto;
}
