@reference '../../theme/theme.module.css';

.input {
  @apply outline-hidden;
  @apply border-border bg-background ring-offset-background border;
  @apply px-3 py-2;
  @apply flex h-10 w-full rounded-md;
  @apply text-foreground file:text-foreground placeholder:text-muted-foreground text-base file:font-medium md:text-sm;
  @apply focus-visible:ring-ring/70 focus-visible:outline-hidden;
  @apply file:border-0 file:bg-transparent file:text-sm;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
  @apply focus-visible:ring-1 focus-visible:ring-offset-2;
}
