@reference '../../theme/theme.module.css';

.input {
  @apply outline-hidden;
  @apply border-border bg-popover-background border;
  @apply px-3 py-2;
  @apply flex h-10 w-full rounded-md;
  @apply text-text-primary placeholder:text-text-secondary;
  @apply text-sm;
  @apply file:text-text-primary file:font-medium;
  @apply file:border-0 file:bg-transparent file:text-sm;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
  @apply focus-ring;
}
