@reference '../../theme/theme.module.css';

.empty-table-state {
  @apply flex flex-col items-center justify-center gap-1;
  @apply text-center;
}

.icon-and-title-container {
  @apply text-text-primary flex flex-col items-center gap-4;
}

.title {
  @apply text-sm font-medium;
}

.description {
  @apply text-text-secondary text-sm;
}

.clear-button {
  @apply mt-2;
}
