@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme) theme(inline);
@import 'tailwindcss/utilities.css' layer(utilities);

@config '../tailwind.config.js';

@layer base {
  .equality button {
    cursor: pointer;
  }

  .equality main {
    @apply bg-background text-foreground font-sans transition-colors;
  }

  /* COLORS */
  .equality {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 270 45% 88%;
    --accent-foreground: 260 50% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 315 100% 55%; /* Neon Magenta */
    --chart-2: 175 100% 50%; /* Neon Aqua */
    --chart-3: 190 100% 50%; /* Electric Cyan */
    --chart-4: 285 100% 70%; /* Vivid Lavender */
    --chart-5: 260 100% 40%; /* Ultraviolet */
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* Control Status Badges */
    --not-started: 220, 13%, 75%;
    --not-started-secondary: 220, 13%, 75%, 0.2;

    --in-progress: 45, 100%, 68%;
    --in-progress-secondary: 45, 100%, 68%, 0.2;

    --ready-for-review: 213, 94%, 68%;
    --ready-for-review-secondary: 213, 94%, 68%, 0.2;

    --in-review: 262, 83%, 75%;
    --in-review-secondary: 262, 83%, 75%, 0.2;

    --compliant: 142, 72%, 64%;
    --compliant-secondary: 142, 72%, 64%, 0.2;

    --non-compliant: 340, 94%, 65%;
    --non-compliant-secondary: 340, 94%, 65%, 0.2;

    --not-applicable: 180, 20%, 55%;
    --not-applicable-secondary: 180, 20%, 55%, 0.2;

    --comment: 24, 95%, 70%;
    --comment-secondary: 24, 95%, 70%, 0.2;

    --completed: 24 100% 70%;
    --completed-secondary: 24 100% 30%;

    --monitor: 239 84% 67%;
    --monitor-secondary: 239 84% 47%;

    --accepted: 142, 72%, 64%;
    --accepted-secondary: 142, 72%, 64%, 0.2;

    /* Comment Types */
    --accepted: 156, 72%, 74%;
    --accepted-secondary: 156, 72%, 74%, 0.2;

    --questioned: 36, 100%, 74%;
    --questioned-secondary: 36, 100%, 74%, 0.2;

    --general: 275, 90%, 76%;
    --general-secondary: 275, 90%, 76%, 0.2;

    /* Policy Type Badges */
    --regulatory: 217, 56%, 68%;
    --regulatory-secondary: 217, 56%, 68%, 0.2;

    --internal: 256, 73%, 78%;
    --internal-secondary: 256, 73%, 78%, 0.2;

    --risk: 51, 93%, 82%;
    --risk-secondary: 51, 93%, 82%, 0.2;

    --custom: 210, 14%, 83%;
    --custom-secondary: 210, 14%, 83%, 0.2;

    /* Primary */
    --highlight: 266 100% 90%;
    --mint: 142 69% 58%;
    --red: 342 96% 65%;
    --light-blue: 203 100% 70%;
    --yellow: 51 100% 73%;
  }
  .equality.dark {
    --white-10: rgba(255, 255, 255, 0.1);
    --white-20: rgba(255, 255, 255, 0.2);
    --white-30: rgba(255, 255, 255, 0.3);
    --white-40: rgba(255, 255, 255, 0.4);
    --white-50: rgba(255, 255, 255, 0.5);
    --white-60: rgba(255, 255, 255, 0.6);
    --white-70: rgba(255, 255, 255, 0.7);
    --white-80: rgba(255, 255, 255, 0.8);

    --background: 240, 10%, 4%;
    --foreground: 210 40% 98%;
    --card: 0 0% 85%;
    --card-foreground: 0 0% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 4% 25%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 0 0% 0%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --gradient-fills-lilac-active: linear-gradient(
      90deg,
      rgba(226, 204, 255, 0.2) 0%,
      rgba(136, 122, 153, 0.1) 100%
    );
    --white-10: rgba(255, 255, 255, 0.1);
  }
}

/* Preflight scoped to .equality - https://github.com/tailwindlabs/tailwindcss/blob/0c8d881f0ea2c695d8dace64693a37fd0af0a3d8/packages/tailwindcss/preflight.css */
@layer base {
  /*
    1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
    2. Remove default margins and padding
    3. Reset all borders.
    */
  body.equality,
  .equality *,
  .equality ::after,
  .equality ::before,
  .equality ::backdrop,
  .equality ::file-selector-button {
    box-sizing: border-box; /* 1 */
    margin: 0; /* 2 */
    padding: 0; /* 2 */
    border: 0 solid; /* 3 */
    border-color: hsl(var(--border)); /* 3 */
  }

  /*
    1. Use a consistent sensible line-height in all browsers.
    2. Prevent adjustments of font size after orientation changes in iOS.
    3. Use a more readable tab size.
    4. Use the user's configured `sans` font-family by default.
    5. Use the user's configured `sans` font-feature-settings by default.
    6. Use the user's configured `sans` font-variation-settings by default.
    7. Disable tap highlights on iOS.
    */

  body.equality {
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    tab-size: 4; /* 3 */
    font-family: --theme(
      --default-font-family,
      ui-sans-serif,
      system-ui,
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      'Noto Color Emoji'
    ); /* 4 */
    font-feature-settings: --theme(--default-font-feature-settings, normal); /* 5 */
    font-variation-settings: --theme(--default-font-variation-settings, normal); /* 6 */
    -webkit-tap-highlight-color: transparent; /* 7 */
  }

  /*
    1. Add the correct height in Firefox.
    2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
    3. Reset the default border style to a 1px solid border.
    */

  .equality hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
    border-top-width: 1px; /* 3 */
  }

  /*
    Add the correct text decoration in Chrome, Edge, and Safari.
    */

  .equality abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  /*
    Remove the default font size and weight for headings.
    */

  .equality h1,
  .equality h2,
  .equality h3,
  .equality h4,
  .equality h5,
  .equality h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  /*
    Reset links to optimize for opt-in styling instead of opt-out.
    */

  .equality a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  /*
    Add the correct font weight in Edge and Safari.
    */

  .equality b,
  .equality strong {
    font-weight: bolder;
  }

  /*
    1. Use the user's configured `mono` font-family by default.
    2. Use the user's configured `mono` font-feature-settings by default.
    3. Use the user's configured `mono` font-variation-settings by default.
    4. Correct the odd `em` font sizing in all browsers.
    */

  .equality code,
  .equality kbd,
  .equality samp,
  .equality pre {
    font-family: --theme(
      --default-mono-font-family,
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      'Liberation Mono',
      'Courier New',
      monospace
    ); /* 1 */
    font-feature-settings: --theme(--default-mono-font-feature-settings, normal); /* 2 */
    font-variation-settings: --theme(--default-mono-font-variation-settings, normal); /* 3 */
    font-size: 1em; /* 4 */
  }

  /*
    Add the correct font size in all browsers.
    */

  .equality small {
    font-size: 80%;
  }

  /*
    Prevent `sub` and `sup` elements from affecting the line height in all browsers.
    */

  .equality sub,
  .equality sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  .equality sub {
    bottom: -0.25em;
  }

  .equality sup {
    top: -0.5em;
  }

  /*
    1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
    2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
    3. Remove gaps between table borders by default.
    */

  .equality table {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
    border-collapse: collapse; /* 3 */
  }

  /*
    Use the modern Firefox focus style for all focusable elements.
    */

  .equality :-moz-focusring {
    outline: auto;
  }

  /*
    Add the correct vertical alignment in Chrome and Firefox.
    */

  .equality progress {
    vertical-align: baseline;
  }

  /*
    Add the correct display in Chrome and Safari.
    */

  .equality summary {
    display: list-item;
  }

  /*
    Make lists unstyled by default.
    */

  .equality ol,
  .equality ul,
  .equality menu {
    list-style: none;
  }

  /*
    1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
    2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
        This can trigger a poorly considered lint error in some tools but is included by design.
    */

  .equality img,
  .equality svg,
  .equality video,
  .equality canvas,
  .equality audio,
  .equality iframe,
  .equality embed,
  .equality object {
    display: block; /* 1 */
    vertical-align: middle; /* 2 */
  }

  /*
    Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
    */

  .equality img,
  .equality video {
    max-width: 100%;
    height: auto;
  }

  /*
    1. Inherit font styles in all browsers.
    2. Remove border radius in all browsers.
    3. Remove background color in all browsers.
    4. Ensure consistent opacity for disabled states in all browsers.
    */

  .equality button,
  .equality input,
  .equality select,
  .equality optgroup,
  .equality textarea,
  .equality ::file-selector-button {
    font: inherit; /* 1 */
    font-feature-settings: inherit; /* 1 */
    font-variation-settings: inherit; /* 1 */
    letter-spacing: inherit; /* 1 */
    color: inherit; /* 1 */
    border-radius: 0; /* 2 */
    background-color: transparent; /* 3 */
    opacity: 1; /* 4 */
  }

  /*
    Restore default font weight.
    */

  .equality :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  /*
    Restore indentation.
    */

  .equality :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  /*
    Restore space after button.
    */

  .equality ::file-selector-button {
    margin-inline-end: 4px;
  }

  /*
    Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
    */

  .equality ::placeholder {
    opacity: 1;
  }

  /*
    Set the default placeholder color to a semi-transparent version of the current text color in browsers that do not
    crash when using `color-mix(…)` with `currentcolor`. (https://github.com/tailwindlabs/tailwindcss/issues/17194)
    */

  @supports (not (-webkit-appearance: -apple-pay-button)) /* Not Safari */ or
    (contain-intrinsic-size: 1px) /* Safari 17+ */ {
    .equality ::placeholder {
      color: color-mix(in oklab, currentcolor 50%, transparent);
    }
  }

  /*
    Prevent resizing textareas horizontally by default.
    */

  .equality textarea {
    resize: vertical;
  }

  /*
    Remove the inner padding in Chrome and Safari on macOS.
    */

  .equality ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  /*
    1. Ensure date/time inputs have the same height when empty in iOS Safari.
    2. Ensure text alignment can be changed on date/time inputs in iOS Safari.
    */

  .equality ::-webkit-date-and-time-value {
    min-height: 1lh; /* 1 */
    text-align: inherit; /* 2 */
  }

  /*
    Prevent height from changing on date/time inputs in macOS Safari when the input is set to `display: block`.
    */

  .equality ::-webkit-datetime-edit {
    display: inline-flex;
  }

  /*
    Remove excess padding from pseudo-elements in date/time inputs to ensure consistent height across browsers.
    */

  .equality ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  .equality ::-webkit-datetime-edit,
  .equality ::-webkit-datetime-edit-year-field,
  .equality ::-webkit-datetime-edit-month-field,
  .equality ::-webkit-datetime-edit-day-field,
  .equality ::-webkit-datetime-edit-hour-field,
  .equality ::-webkit-datetime-edit-minute-field,
  .equality ::-webkit-datetime-edit-second-field,
  .equality ::-webkit-datetime-edit-millisecond-field,
  .equality ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  /*
    Center dropdown marker shown on inputs with paired `<datalist>`s in Chrome. (https://github.com/tailwindlabs/tailwindcss/issues/18499)
    */

  .equality ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }

  /*
    Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
    */

  .equality :-moz-ui-invalid {
    box-shadow: none;
  }

  /*
    Correct the inability to style the border radius in iOS Safari.
    */

  .equality button,
  .equality input:where([type='button'], [type='reset'], [type='submit']),
  .equality ::file-selector-button {
    appearance: button;
  }

  /*
    Correct the cursor style of increment and decrement buttons in Safari.
    */

  .equality ::-webkit-inner-spin-button,
  .equality ::-webkit-outer-spin-button {
    height: auto;
  }

  /*
    Make elements with the HTML hidden attribute stay hidden by default.
    */

  .equality [hidden]:where(:not([hidden='until-found'])) {
    display: none !important;
  }
}

@theme inline {
  /* FONT FAMILY */
  --font-sans: 'TWK Lausanne', 'Inter', sans-serif;

  /* FONT SIZE */
  --text-xxs: 0.625rem;

  /* BORDER RADIUS */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* COLORS */
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));
  --color-sidebar: hsl(var(--sidebar));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));
  --color-not-started: hsl(var(--not-started));
  --color-not-started-secondary: hsl(var(--not-started-secondary));
  --color-in-progress: hsl(var(--in-progress));
  --color-in-progress-secondary: hsl(var(--in-progress-secondary));
  --color-ready-for-review: hsl(var(--ready-for-review));
  --color-ready-for-review-secondary: hsl(var(--ready-for-review-secondary));
  --color-in-review: hsl(var(--in-review));
  --color-in-review-secondary: hsl(var(--in-review-secondary));
  --color-compliant: hsl(var(--compliant));
  --color-compliant-secondary: hsl(var(--compliant-secondary));
  --color-non-compliant: hsl(var(--non-compliant));
  --color-non-compliant-secondary: hsl(var(--non-compliant-secondary));
  --color-not-applicable: hsl(var(--not-applicable));
  --color-not-applicable-secondary: hsl(var(--not-applicable-secondary));
  --color-completed: hsl(var(--completed));
  --color-completed-secondary: hsl(var(--completed-secondary));
  --color-questioned: hsl(var(--questioned));
  --color-questioned-secondary: hsl(var(--questioned-secondary));
  --color-comment: hsl(var(--comment));
  --color-comment-secondary: hsl(var(--comment-secondary));
  --color-accepted: hsl(var(--accepted));
  --color-accepted-secondary: hsl(var(--accepted-secondary));
  --color-general: hsl(var(--general));
  --color-general-secondary: hsl(var(--general-secondary));
  --color-monitor: hsl(var(--monitor));
  --color-monitor-secondary: hsl(var(--monitor-secondary));
  --color-regulatory: hsl(var(--regulatory));
  --color-regulatory-secondary: hsl(var(--regulatory-secondary));
  --color-internal: hsl(var(--internal));
  --color-internal-secondary: hsl(var(--internal-secondary));
  --color-risk: hsl(var(--risk));
  --color-risk-secondary: hsl(var(--risk-secondary));
  --color-custom: hsl(var(--custom));
  --color-custom-secondary: hsl(var(--custom-secondary));
  --color-highlight: hsl(var(--highlight));
  --color-mint: hsl(var(--mint));
  --color-red: hsl(var(--red));
  --color-light-blue: hsl(var(--light-blue));
  --color-yellow: hsl(var(--yellow));
  --color-purple: #a88bfa;
  --color-lilac: #e2ccff;
  --color-lilac-medium: #7f738f;
  --color-lilac-dark: #887a99;
  --color-medium-lilac: #b5a3cc;
  --color-dark-lilac: #9153c9;
  --color-lilac-box-bkg: #222025;
  --color-lilac-button: #4d4656;
  --color-lime: #d5e672;
  --color-sky-blue: #6697e4;
  --color-gold: #ffe4b8;
  --color-black: #0d0d0d;
  --color-black-5: #191919;
  --color-black-10: #3e3e3e;
  --color-grey: #454545;
  --color-node-agent: #1069ff;
  --color-node-dataset: #753dfd;
  --color-node-model: #2135b0;
  --color-node-code: #ffa309;
  --color-node-document: #ff5c0e;
  --color-node-prompt: #128441;
  --color-node-token: #c02d5d;
  --color-node-inference: #f73887;
  --color-node-tools: #82a3b2;
  --color-node-benchmarks: #8f3f18;
  --color-node-guards: #8f3f18;
  --color-node-computation: #fede31;

  /* ANIMATION */
  --animate-fade-in: fade-in 800ms ease-in-out backwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer utilities {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .styled-horizontal-scrollbar {
    &::-webkit-scrollbar {
      width: 100%;
      height: 0.375rem;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 999px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #4e4758;
      border-radius: 999px;
    }
  }
  .styled-vertical-scrollbar {
    &::-webkit-scrollbar {
      height: 100%;
      width: 0.375rem;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 999px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #4e4758;
      border-radius: 999px;
    }
  }
}

@font-face {
  font-family: 'TWK Lausanne';
  src:
    url('./assets/fonts/TWKLausanne-300.woff') format('woff'),
    url('./assets/fonts/TWKLausanne-300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'TWK Lausanne';
  src:
    url('./assets/fonts/TWKLausanne-400.woff') format('woff'),
    url('./assets/fonts/TWKLausanne-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'TWK Lausanne';
  src:
    url('./assets/fonts/TWKLausanne-500.woff') format('woff'),
    url('./assets/fonts/TWKLausanne-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'TWK Lausanne';
  src:
    url('./assets/fonts/TWKLausanne-600.woff') format('woff'),
    url('./assets/fonts/TWKLausanne-600.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

.equality iframe {
  color-scheme: light;
}

/* This is needed to prevent edges from getting cut off*/
.equality .react-flow__pane {
  width: 320rem !important;
  height: 320rem !important;
}
