@reference '../../theme/theme.module.css';

.sheet-overlay {
  @apply overlay-background;
  @apply overlay-content;
  @apply data-[state=open]:animate-in data-[state=open]:fade-in-0;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0;
}

.sheet-content {
  @apply bg-background-overlay;
  @apply shadow-shadow-overlay shadow-lg;
  @apply border-border-overlay;
  @apply z-modal fixed gap-4;
  @apply transition ease-in-out;
  @apply data-[state=open]:animate-in data-[state=open]:duration-500;
  @apply data-[state=closed]:animate-out data-[state=closed]:duration-300;
}

.sheet-content--side-top {
  @apply border-b;
  @apply inset-x-0 top-0;
  @apply data-[state=closed]:slide-out-to-top data-[state=open]:slide-in-from-top;
}

.sheet-content--side-bottom {
  @apply border-t;
  @apply inset-x-0 bottom-0;
  @apply data-[state=closed]:slide-out-to-bottom data-[state=open]:slide-in-from-bottom;
}

.sheet-content--side-left {
  @apply border-r;
  @apply inset-y-0 left-0;
  @apply h-full w-3/4 sm:max-w-sm;
  @apply data-[state=closed]:slide-out-to-left data-[state=open]:slide-in-from-left;
}

.sheet-content--side-right {
  @apply border-l;
  @apply inset-y-0 right-0;
  @apply h-full w-3/4 sm:max-w-sm;
  @apply data-[state=closed]:slide-out-to-right data-[state=open]:slide-in-from-right;
}

.sheet-close {
  @apply shrink-0;
}

.sheet-header {
  @apply flex flex-row items-start justify-between;
  @apply gap-4 p-4;
  @apply text-center sm:text-left;
  @apply from-brand-primary/40 to-background border-b bg-gradient-to-r;
}

.sheet-header-content {
  @apply flex flex-col;
  @apply space-y-2;
  @apply flex-1;
}

.sheet-footer {
  @apply flex flex-col-reverse sm:flex-row sm:justify-end;
  @apply sm:space-x-2;
  @apply border-border border-t p-4;
}

.sheet-title {
  @apply text-text-primary text-lg font-medium;
}

.sheet-description {
  @apply text-text-secondary text-sm;
}
