@import '../../theme/theme.module.css';

.alert-dialog-overlay {
  @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 fixed inset-0 z-50 bg-black/80;
}

.alert-dialog-content {
  @apply bg-black-5 data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%] data-[state=open]:slide-in-from-left-1/2 data-[state=open]:slide-in-from-top-[48%] fixed left-[50%] top-[50%] z-50 grid w-full max-w-lg translate-x-[-50%] translate-y-[-50%] gap-4 border p-6 shadow-lg duration-200 sm:rounded-lg;
}

.alert-dialog-header {
  @apply flex flex-col space-y-2 text-center sm:text-left;
}

.alert-dialog-footer {
  @apply flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2;
}

.alert-dialog-title {
  @apply text-lg font-semibold;
}

.alert-dialog-description {
  @apply text-muted-foreground text-sm;
}

.alert-dialog-cancel {
  @apply mt-2 sm:mt-0;
}
