@reference '../../theme/theme.module.css';

.alert-dialog-overlay {
  @apply overlay-content;
  @apply overlay-background;
  @apply animate-popup-overlay;
}

.alert-dialog-content {
  @apply z-modal fixed left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%];
  @apply w-full max-w-lg;
  @apply grid gap-4 p-6;
  @apply bg-background-overlay shadow-shadow-overlay shadow-lg duration-200 sm:rounded-lg;
  @apply border-border-overlay border;
  @apply animate-popup-content;
}

.alert-dialog-header {
  @apply flex flex-col space-y-2;
  @apply text-center sm:text-left;
}

.alert-dialog-footer {
  @apply flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2;
}

.alert-dialog-title {
  @apply text-lg font-semibold;
}

.alert-dialog-description {
  @apply text-text-secondary text-sm;
}

.alert-dialog-cancel {
  @apply mt-2 sm:mt-0;
}
