@reference '../../theme/theme.css';

.alert {
  @apply [&>svg]:text-text-primary [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4 [&>svg~*]:pl-7;
  @apply relative w-full;
  @apply rounded-lg border;
  @apply px-4 py-3;
  @apply text-sm;
}

.alert--default {
  @apply bg-popover-background;
  @apply text-text-primary;
}

.alert--danger {
  @apply text-button-danger-text [&>svg]:text-button-danger-text;
  @apply bg-button-danger-fill border-button-danger-border;
}

.alert-title {
  @apply font-medium leading-none tracking-tight;
  @apply mb-1;
}

.alert-description {
  @apply text-sm [&_p]:leading-relaxed;
}
