@import '../../theme/theme.module.css';

.container {
  @apply [&>svg]:text-foreground relative w-full rounded-lg border px-4 py-3 text-sm [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4 [&>svg~*]:pl-7;
}

.default {
  @apply bg-background text-foreground;
}

.destructive {
  @apply border-destructive/50 text-destructive dark:border-destructive [&>svg]:text-destructive;
}

.alert-title {
  @apply mb-1 font-medium leading-none tracking-tight;
}

.alert-description {
  @apply text-sm [&_p]:leading-relaxed;
}
