@reference '../../theme/theme.module.css';

.alert {
  @apply [&>svg]:text-text-primary [&>svg]:absolute [&>svg]:top-4 [&>svg]:left-4 [&>svg+div]:translate-y-[-3px] [&>svg~*]:pl-7;
  @apply relative w-full;
  @apply rounded-lg border;
  @apply px-4 py-3;
  @apply text-sm;
}

.alert--default {
  @apply bg-popover-background;
  @apply text-text-primary;
}

.alert--success {
  @apply text-badge-text-success [&>svg]:text-badge-text-success;
  @apply bg-badge-background-success border-badge-text-success;
}

.alert--warning {
  @apply text-badge-text-warning [&>svg]:text-badge-text-warning;
  @apply bg-badge-background-warning border-badge-text-warning;
}

.alert--danger {
  @apply text-badge-text-danger [&>svg]:text-badge-text-danger;
  @apply bg-badge-background-danger border-badge-text-danger;
}

.alert-title {
  @apply leading-none font-medium tracking-tight;
  @apply mb-1;
}

.alert-description {
  @apply text-sm [&_p]:leading-relaxed;
}
